asgiref==3.6.0
beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
Django==4.2.1
django-cors-headers==4.0.0
django-discover-runner==1.0
django-livereload-server==0.4
django-role-permissions==3.1.1
idna==3.4
livereload==2.6.3
Pillow==9.5.0
psycopg2==2.9.6
psycopg2-binary==2.9.6
python-decouple==3.8
requests==2.31.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
tornado==6.3.2
tzdata==2023.3
urllib3==2.0.2
