{% load static %}
<footer class="footer overflow-hidden">
  <div class="footer-container">
    <div class="row">
      <div class="footer-col">
        <h4>Sobre a empresa</h4>
        <ul>
          <li><a href="#">sobre nós</a></li>
          <li><a href="{% url 'vagas' %}">vagas disponíveis</a></li>
          <li><a href="#">politica de privacidade</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Ajuda</h4>
        <ul>
          <li><a href="#">Perguntas frequentes</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Siga-nos</h4>
        <div class="links-social">
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-linkedin cor-especial"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>