{% load static %}
<footer class="footer">
  <div class="container">
    <div class="linha">
      <div class="footer-col">
        <h4>Sobre a empresa</h4>
        <ul>
          <li><a href="#">sobre nós</a></li>
          <li><a href="#">vagas disponíveis</a></li>
          <li><a href="#">politica de privacidade</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Ajuda</h4>
        <ul>
          <li><a href="#">Perguntas frequentes</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Siga-nos</h4>
        <div class="links-social">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
             <div>
                 <span><img src=""></span>
             </div>
      </div>
    </div>
  </div>
</footer>