{% load static %}
<header>
    <nav class="navbar navbar-dark navbar-expand-lg">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sobre Nós</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contato</a>
            </li>
          </ul>
        </div> -->
        <a class="navbar-brand" href="#">NINNA Jobs</a>
        <div class="navbar-logo">
          <img src="{% static 'img/logoninna.jpg' %}" alt="">
        </div>
      </div>
    </nav>
    <div class="top-detail">
      <img src="{% static 'img/top-detail.png' %}">
    </div>
  </header>