<div class="modal fade" data-modal-id="{{ vaga_salva.id }}" tabindex="-1" {#aria-labelledby="exampleModalLabel" #}aria-hidden="true">
    <div class="modal-dialog{# modal-lg#}">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title h5 titulovaga" id="modalVaga">{{ vaga_salva.nome_vaga }} ({{ vaga_salva.tipo_trabalho }})</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="hide-bullets">
            <li>
              <ul class="inline-list">
                <li class="info" id="nomeEmpresa"><i class="bi bi-building" title="Empresa"></i> {{ vaga_salva.nome_empresa }}</li>
                <li class="info" id="localEmpresa"><i class="bi bi-geo-alt" title="Local"></i> {{ vaga_salva.local_empresa }}</li>
              </ul>
            </li>
            <li>
              <ul class="inline-list">
                <li class="info" id="tipoDeContrato"><i class="bi bi-file-earmark-text" title="Tipo de contrato"></i> {{ vaga_salva.tipo_contratacao }}</li>
                <li class="info" id="perfilProfissional"><i class="bi bi-person-workspace" title="Perfil profissional"></i> {{ vaga_salva.perfil_profissional }}</li>
                <li class="info" id="salario">R$ {{ vaga_salva.salario }}</li>
              </ul>
            </li>
          </ul>
          <h5 class="subtituloVaga">Principais atividades</h5>
          <p>{{ vaga_salva.principais_atividades }}</p>
          <h5 class="subtituloVaga">Requísitos</h5>
          <p>{{ vaga_salva.requisitos }}</p>
          <h5 class="subtituloVaga">Diferencial</h5>
          <p>{{ vaga_salva.diferencial }}</p>
          <h5 class="subtituloVaga">Descrição da vaga</h5>
          <p>{{ vaga_salva.descricao_vaga }}</p>
          <h5 class="subtituloVaga">Descrição da empressa</h5>
          <p>{{ vaga_salva.descricao_empresa }}</p>
          <h5 class="subtituloVaga">Area atuacao</h5>
          <p>{{ vaga_salva.area_atuacao }}</p>
          <h5 class="subtituloVaga">Beneficios</h5>
          <p>{{ vaga_salva.beneficios }}</p>
        </div>
      {% if user.is_authenticated %}
        <div class="modal-footer justify-content-between">
          <div>
            <a href="{% url 'salvar_vaga' vaga_salva.id %}" type="button" class="" title="Favoritar"><i class="bi bi-star-fill"></i></a>
          </div>
          <div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <a href="{% url 'candidatar_a_vaga' vaga_salva.id %}"><button type="button" class="btn btn-primary">Candidatar-se</button></a>
          </div>
        </div>
        {% else %}
        <div class="modal-footer justify-content-between">
          <div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          </div>
          <div>
            <a href="{% url 'acesso' %}"><button type="button" class="btn btn-primary">Candidatar-se</button></a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>