*{
    margin: 0;
    padding: 0;
}

.caixa{
    background: #f6f6f6;
    width: 850px;
    height: 500px;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 20px;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.imagem{
    width: 51%;
    height: 100%;
    background-image: url(../img/homem.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:20px 0px 0px 20px;
    float: none;
}
@media screen and (max-width: 880px) {
    .caixa {
        margin-top: 65px;
      width: 680px;
      height: 430px;
    }
    .imagem{
        background-size: 300px;
        margin-top: 128px;
        margin-right: 30px;
    }
  }

.texto{
    margin-top: 200px;
    margin-bottom: 30px;
    text-align: center;
}
.botoes{
    display: flex;
}
.botoes a{
    margin-left: 50px;
    margin-right: 50px;
}