*{
    margin: 0;
    padding: 0;
}

.div-box{
    background: #f6f6f6;
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 50px;
    border-radius: 20px;
}

h2{
  text-align: center;
  color: rgb(94, 94, 93);
}

hr{
margin-top: 30px;
}

.div-p{
    margin-top: 30px;
    padding: 20px;
}

.div-novasenha{
    padding: 30px;
}

.borda{
    border: none ;
}

.div-enviar{
    text-align: center;
}