.containerFormEmpresa{
    width: 90%;
    margin: auto;
}

.botaoenviarformempresa{
    color: rgb(255, 255, 255);
    display: block;
    width: 100px;
    text-align: center;
    background: rgb(126, 182, 39);
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 70px;
}

.botaoenviarformempresa:hover{
    background-image: linear-gradient(rgb(126, 182, 39), rgb(89, 129, 26));
}

.form-control{
    outline: none!important;
    box-shadow: none!important;
    border: none!important;
    flex-grow: 1!important;
    padding: .4em!important;
    background: transparent!important;
    border: 0!important;
    border-bottom: 1px solid rgb(108, 108, 108)!important;
    display: flex!important;
    flex-wrap: wrap!important;
    gap: .75em!important;
    margin-bottom: 8px!important;
    border-radius: 0;
}