*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body-form{
    background-color: rgb(219, 226, 226);
}
.container-login{
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px grey;
}
.img-login{
    border-top-left-radius: 30px;
}
.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: blue;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover{
    background: rgb(97, 69, 255);
    border: 1px solid;
    color: black;
}

#picture__input {
    display: none;
  }

  .picture {
    width: 400px;
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
  }

  .picture:hover {
    color: #777;
    background: #ccc;
  }

  .picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
  }

  .picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .picture__img {
    max-width: 100%;
  }
