@import "dashboard.css";
@import "styles.css";
:root {
    --cor-bg-favoritar: gold;
    --cor-bg-favoritar-hover: orange;
    --cor-ninna:#0e0062;
    --border-color: #c9cbcb;
    --main\footer-spacing: 2.5rem;
}

body{
	margin:0;
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.356), rgb(255, 254, 254)), url("../img/background-purple.png");
    background-repeat: repeat-x;
    background-size: 500px;
    overflow-x: hidden;

	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
}
body::after {
    content: '';
    display: block;
    background: linear-gradient(to bottom, transparent 0%, transparent 35%, #fff 100%);
    width: 100%;
    height: 500px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

.container .content {
    margin-top: 50px;
    margin-bottom: 10px;
}

.profile-box .sidebar-avatar {
    width: 125px;
}

.btn {
    border-radius: 55px;
    border: none;
}

.favoritar{
    background-color: var(--cor-bg-favoritar);
}

.favoritar:hover {
    background: var(--cor-bg-favoritar-hover);
}

.profile-name {
    font-size: 24px;
    padding: 10px;
    padding-top: 20px;
}

.div-sobre {
    width: 100%;
    background: #e6ecee;
    border-radius: 10px;
    padding: 10px;
}

p {
    font-size: 14px;
}


/*--------------------------------------------------
Perfil Candidato
--------------------------------------------------*/

.profile-box {
    background-color: #e6ecee;
    max-width: 500px;
    margin: auto;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    margin-top: -65px;
    margin-bottom: 15px;
    height: 380px;
    width: 300px;
}
.baixar {
    background-color: #0e76a8;
    margin-right: 5px;
}

.div-enviar-mensagem {
    width: 100%;
    display: flex;
}

.bt-enviar {
    color: white;
    background: #0e76a8;
    width: 80%;
    font-size: 14px;
    margin-right: 10px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enviar-email button {
    margin-top: 5px;
}

.msg-btn-enviar{
    font-size: 12px;
    margin-top: 17px;
}

.div-saiba-mais {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.div-saiba-mais h3 {
    font-size: 20px;
    font-weight: bold;
}

.div-saiba-mais img {
    width: 25px;
    height: 25px;
}

.div-informacoes {
    background: #e6ecee;
    border-radius: 10px;
    padding: 10px;
}

.redesocial > a > i{
    font-size: 1.8rem;
}
.redesocial{
    text-align: center;
}
.bi-whatsapp, .linkwapp {
    color: #25D366;
}
.linkedin{
    color:#0e76a8;
}
.email{
    color: palevioletred;
}

.tituloperfil{
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}

.spanperfil{
    display: block;
    height: 1px;
    background: #0e0062;
    margin: 0 auto;
}

/*-------------------------------------------
Perfil da empresa
--------------------------------------------*/
.perfil-empresa{
    top: 70%;
}
.avatar-empresa {
    width: 200px;
}
.menuContato {
    background-color:#e6ecee ;
    position: fixed;
    top: 30%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.menuContato a, .menuContato button {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 23px;
}
.menuContato button{
    border: none;
    vertical-align: middle;
    color: var(--cor-bg-favoritar);
}

.menuContato a:hover, .menuContato button:hover {
    margin: 2px;
    vertical-align: middle;
    background-color: var(--cor-ninna);
    color: white;
}
.menuContato a i:hover{
    color: white;
}