.profile-box .sidebar-avatar {
    width: 125px;
}

p {
    font-size: 14px;
}

.profile-box {
    background-color: #e6ecee;
    max-width: 500px;
    margin: auto;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    margin-top: -65px;
    margin-bottom: 15px;
    height: 380px;
    width: 300px;
}

.btn {
    background: gold;
    border-radius: 55px;
    border: none;
}
.baixar {
   background-color: #0e76a8;
   margin-right: 5px;
}

.btn:hover {
    background: orange;
}

.div-enviar-mensagem {
    width: 100%;
    display: flex;
}

.bt-enviar {
    color: white;
    background: #0e76a8;
    width: 80%;
    font-size: 14px;
    margin-right: 10px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aviao {
    margin-top: 5px;
}

.msg-btn-enviar{
    font-size: 12px;
    margin-top: 17px;
}

.profile-name {
    font-size: 24px;
    padding: 10px;
    padding-top: 20px;
}

.div-sobre {
    width: 100%;
    background: #e6ecee;
    border-radius: 10px;
    padding: 10px;
}

.div-saiba-mais {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.div-saiba-mais h3 {
    font-size: 20px;
    font-weight: bold;
}

.div-saiba-mais img {
    width: 25px;
    height: 25px;
}

.div-informacoes {
    background: #e6ecee;
    border-radius: 10px;
    padding: 10px;
}

.container .content {
    margin-top: 50px;
    margin-bottom: 10px;
}

.bi{
    font-size: 1.8rem;
}
.redesocial{
    text-align: center;
}
.bi-whatsapp, .linkwapp {
    color: #25D366;
}
.bi-linkedin, .linklinkdin{
    color:#0e76a8;
}

.tituloperfil{
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}

.spanperfil{
    display: block;
    height: 1px;
    background: #0e0062;
    margin: 0 auto;
}

body{
	margin:0;
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.356), rgb(255, 254, 254)), url("../img/background-purple.png");
    background-repeat: repeat-x;
    background-size: 500px;
    overflow-x: hidden;

	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;

}
body::after {
    content: '';
    display: block;
    background: linear-gradient(to bottom, transparent 0%, transparent 35%, #fff 100%);
    width: 100%;
    height: 500px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}