* {
    margin: 0px;
    padding: 0px;
}

.sobre-nos {
    background: #D3D3D3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 60px;
}
.texto {
    background-color: white;
    margin-left: -50px;
    width: 40vw;
    padding: 30px;
    font-size: 17px;
}
.texto h2 {
    text-align: center;
    font-size: 30px;
}
.sobre-nos img {
    height: auto;
    width: 40vw;
}

.form-control{
    outline: none!important;
    box-shadow: none!important;
    border: none!important;
    flex-grow: 1!important;
    padding: .4em!important;
    background: transparent!important;
    border: 0!important;
    border-bottom: 1px solid rgb(108, 108, 108)!important;
    display: flex!important;
    flex-wrap: wrap!important;
    gap: .75em!important;
    margin-bottom: 8px!important;
    border-radius: 0!important;
}