:root {
    --cor-ninna:#0e0062;
    --border-color: #c9cbcb;
    --main\footer-spacing: 2.5rem;
}

.btn-primary {
    --bs-btn-bg: #2049b5;
    --bs-btn-border-color: var(--bs-btn-bg);
    --bs-btn-hover-bg: #7eb627;
    --bs-btn-hover-border-color: var(--bs-btn-hover-bg);
}

body > main {
	margin-bottom: var(--main\footer-spacing);
}

main.container {
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
}
main {
    margin-top: 2em;
}
.container :is(.sidebar, .content) {
    background: #eff4f5;
    padding: 1em 1.5em;
    direction: ltr;
}
.container .right-column {
    width: 100%;
}
.container .content {
    position: relative;
    width: 100%;
}

.page-header {
    background: #dae0e38a;
    padding: 7px 0;
    margin: -1em -1.5em 1em;
    display: flex;
}
.page-header h1 {
    line-height: 1;
    font-size: 24px;
    background: #7eb627;
    width: max-content;
    padding: .3em .7em .3em .5em;
    border-radius: 0 15px 15px 0;
    margin: 0;
    transform: translateX(-7px);
    color: white;
    align-self: center;
}
.page-header h1 ~ * {
    margin-right: 7px;
}

form.filtros {
    flex: 1 auto;
    display: flex;
    flex-wrap: wrap;
    gap: .75em;
    align-items: baseline;
}
form.filtros select {
    flex: 1;
    padding: .4em;
    background: transparent;
    border: 0;
    border-bottom: 1px solid var(--border-color);
}
/*
.informacoes-da-vaga {
    border-left: 1px solid var(--border-color);
    padding-left: 10px;
    flex-basis: 140%;
    align-self: flex-start;
    height: 100vh;
    position: sticky;
    top: 0;
}
.informacoes-da-vaga h3 {
    font-size: 1.55rem;
    margin-top: .7em;
}
*/
.sidebar .btn {
    width: 100%;
}
ul.hide-bullets {
    padding: 0;
}
ul:is(.hide-bullets, .inline-list) li {
    list-style: none;
}
ul.hide-bullets > li + li {
    margin-top: .3em;
}
ul.inline-list {
    display: flex;
    padding: 0;
}
ul.inline-list li {
	display: inline-flex;
	align-items: center;
	word-break: break-word;
	line-height: 1;
	max-width: 51%;
}
ul.inline-list li i.bi {
    margin-right: 5px;
}
ul.inline-list li:not(:last-child)::after {
    content: "";
    display: inline-block;
    background: currentColor;
    opacity: .5;
    height: 1em;
    width: 1px;
    margin-left: 7px;
    margin-right: 7px;
    vertical-align: -.125em;
}

.card-title{
    width: 100%;
}

.modal :is(.form-control, .form-select) {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    box-shadow: none;
}

.modal-header {
    background: var(--cor-ninna);
    color: #fff;
}
.modal-header .btn-close {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}

.modal-footer button {
    border-radius: 20px;
}

.outline {
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, .5));
}

.ar-2\/1 {
    aspect-ratio: 2 / 1;
    object-fit: contain;
}
