/*------------------------------------------------------
	h2 Do Inicio Styles
--------------------------------------------------------*/
.title-section {
    margin-bottom: 80px;
}
.title-section h2 {
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}
.title-section span {
    display: block;
    width: 70px;
    height: 4px;
    background: #0e0062;
    margin: 0 auto;
}

/*------------------------------------------------------
	banner Styles
--------------------------------------------------------*/
.titulo-cardInicio{
        font-weight: 900;
        font-size: 28px;
        text-transform: uppercase;
        color: #dae1f5;
}

.card-cadastrar-body{
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
    flex: unset;
}

.modal-footer.justify-content-between::before,
.modal-footer.justify-content-between::after {
    content: unset
}

/*------------------------------------------------------
	contato Styles
--------------------------------------------------------*/
#contato .contato-form .full-row {
    width: 100%;
    margin-bottom: 20px;
}
#contato .contato-form input, #contato .contato-form textarea {
    outline: 0;
    display: block;
    border: 1px solid #cccccc;
    width: 100%;
    max-width: 100%;
    padding: 8px 10px;
    color: #777777;
}
#contato .contato-form label {
    display: block;
    margin-bottom: 5px;
}
#contato .contato-form input.mainBtn {
    display: inline-block;
    width: auto;
    border: 0;
    padding: 10px 15px;
    color: white;
}
#contato .map-holder {
    padding: 5px;
    background-color: white;
    border: 1px solid #d6d6d6;
}
#contato .contato-info {
    margin-top: 30px;
}
#contato .contato-info span {
    margin-top: 20px;
    display: block;
    font-size: 14px;
}
#contato .contato-info span i {
    color: #0e0062;
    font-size: 16px;
    margin-right: 12px;
}