{% extends 'base.html' %}
{% load static %}
{% block title %}Minhas vagas{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/formempresa.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static 'js/botaoAdcExcluir.js' %}"defer></script>
<script src="{% static 'js/maskmoney.js' %}" defer></script>
<script src="{% static 'js/form.js' %}" defer></script>
{% endblock %}
{% block content %}
{% include 'partials/_alertas.html' %}
<main>
    <h1 class="display-6 text-center p-4 titulo">Cadastro - <strong>Banco de Talentos</strong></h1>
    <div class="w-75 m-auto sCinco">
        <form action="{% url 'adicionarE' %}" class="g-3 needs-validation position-relative" method="POST" id="formCand" novalidate>
            {% csrf_token %}
            <section class="step py-5 border-bottom" id="step_5">
                <h2 >Experiência Profissional</h2>
                <div>
                    <div class="experienciaProfissional" name="exluirXp">
                        <div id="xpProfissional" class="row py-2">
                            <div class="col-md-6 py-2">
                                <label for="empresa" class="form-label">Empresa</label>
                                <input name='empresa' type="text" class="form-control" id="empresa" maxlength="100" required/>
                                <div class="valid-feedback">
                                    Tudo ok!
                                </div>
                                <div class="invalid-feedback">
                                    Campo obrigatorio
                                </div>
                            </div>
                            <div class="col-md-6 py-2">
                                <label for="cargo" class="form-label">Cargo</label>
                                <input name='cargo' type="text" class="form-control" id="cargo" maxlength="100" required />
                                <div class="valid-feedback">
                                    Tudo ok!
                                </div>
                                <div class="invalid-feedback">
                                    Campo obrigatorio
                                </div>
                            </div>
                            <div>
                                <div class="py-2">
                                    <label for="floatingTextarea">Fale um pouco sobre.</label>
                                    <textarea name='sobre_contrato' class="form-control" placeholder="Fale um pouco sobre" maxlength="300" id="floatingTextarea" style="height: 100px;"></textarea>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="row py-2">
                                    <div class="col-md-4">
                                        <label for="data">Data de Contrato</label>
                                        <input type="date" class="form-control" id="data" name="data_contrato" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="data">Data de Demissão</label>
                                        <input type="date" class="form-control" id="data" name="data_demissao" required>
                                    </div>
                                </div>
                                <div  class="form-check">
                                    <input name='meu_emprego' id="empregoAtual"class="form-check-input" onclick="desabilitar()" type="checkbox" value="Emprego atual">
                                    <label class="form-check-label">É meu emprego atual</label></div>
                            </div>
                        </div>
                    </div>
                    <div class="p-3">
                        <button type="submit" class="btn btn-primary m-2 col corBotao" id="submit"><i class="bi bi-plus-lg"></i>Adicionar</button>
                    </div>
                </div>
            </section>
            <a href="{% url 'Experiencia_profissional' %}" class="botaoenviarformempresa enviarformcand w-25 position-absolute bottom-0 end-0 text-light" id="submit">Proximo</a>
            <a href="{% url 'Formacao_academica' %}" class="botaoenviarformempresa enviarformcand w-25 position-absolute bottom-0 start-0 text-light" id="submit">Anterior</a> <!--Link-->
        </form>
        <div class="d-flex py-2 flex-wrap">
            {% if experiencias %}
            {% for experiencia in experiencias %}
            <div class="m-3">
                <div class="card" style="width: 18rem;">
                    <div class="mx-2 py-1 d-flex justify-content-end">
                        <a type="button" class="btn btn-primary float-end corBotao"  href="{% url 'apagarE' experiencia.id %}" id="submit"><i class="bi bi-trash">
                        </i></a>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <h4>Nome da empresa:</h4><li>{{ experiencia.empresa_onde_trabalhou}}</li>
                            <h4>Emprego:</h4><li>{{ experiencia.cargo_exercido }}</li>
                            <h4>Sobre emprego:</h4><li>{{ experiencia.descricao_de_atividades }}</li>
                            <h4>Contratado</h4><li>{{ experiencia.inicio_emprego }}</li>
                            <h4>Demissao</h4><li>{{ experiencia.demissao }}</li>
                            <h4>emprego atual</h4><li>{{ experiencia.emprego_atual }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}