{% load static %}
<div class="left-column">
  <div class="sidebar">
    <div class="sidebar-user mb-3">
      <img class="sidebar-avatar mb-1" src="{% static 'img/placeholder.svg' %}" alt="">
      <h2 class="sidebar-name h5 text-center">{{ user.username }}</h2>
    </div>
    <div class="sidebar-content">
      <ul class="sidebar-menu">
        <li><a class="btn btn-primary" href="{% url 'perfilempresa' %}" role="button">Perfil</a></li>
        <li><a class="btn btn-primary" href="{% url 'select' %}" role="button">Vagas</a></li>
        <li><a class="btn btn-primary" href="{% url 'minhas-vagas' %}" role="button">Minhas Vagas</a></li>
        {% if empresa %}
        <li><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cadastro-de-vaga">Cadastrar vaga</button></li>
        {% endif %}
        <li><a class="btn btn-primary" href="{% url 'talentos' %}"role="button">Banco de Talentos</a></li>
        <li><a class="btn btn-primary" href="{% url 'candidato_fav' %}" role="button">Candidatos Favoritados</a></li>
      </ul>
    </div>
  </div>
</div>
<!--Modal cadastrar vagas-->
<div class="modal fade" id="cadastro-de-vaga" tabindex="-1" aria-labelledby="cadastro-de-vaga-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cadastro-de-vaga-label">Cadastrar vaga</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-4">
        <form action="{% url 'select' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-2">
            <label class="form-label">Logo da Empresa</label>
            <input class="p-1" type="file" name="logo_empresa" required>
          </div>
          <div class="row g-3 align-items-center mb-2">
            <div class="col">
              <label class="form-label">Nome da Vaga</label>
              <input class="form-control" type="text" name="nome_vaga" maxlength="99" required>
            </div>
          </div>
          <div class="row g-3 align-items-center mb-2">
            <div class="col">
              <label class="form-label">Local da Empresa</label>
              <input class="form-control" type="text" name="local" maxlength="200" required>
            </div>
            <div class="col">
              <label class="form-label" for="contratacao">Tipo de Contratacao</label>
              <select class="form-select" name="tipo_contratacao">
                {% for contratacao in contratacoes%}
                <option value="{{contratacao.contratacao}}">{{contratacao.contratacao}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row g-3 align-items-center mb-2">
            <div class="col">
              <label class="form-label" for="perfil">Perfil do Profissional</label>
              <select class="form-select" name="perfil">
                {% for perfil in perfis%}
                <option value="{{perfil.contratacao}}">{{perfil.contratacao}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col">
              <label class="form-label">Salário</label>
              <input class="form-control" type="number" name="salario" min="100" max="10000000" required>
            </div>
          </div>
          <div class="mb-2">
            <label class="form-label">Descrição da Vaga</label>
            <textarea class="form-control" name="descricao_vaga" maxlength="499" style="resize: none" required></textarea>
          </div>
          <div class="mb-2">
            <label class="form-label">Descrição da Empresa</label>
            <textarea class="form-control" name="descricao_empresa" maxlength="499" style="resize: none" required></textarea>
          </div>
          <div class="row g-3 align-items-center mb-2">
            <div class="col">
              <label class="form-label">Área de Atuação</label>
              <input class="form-control" type="text" name="area_atuacao" maxlength='79' required>
            </div>
            <div class="col">
              <label class="form-label" for="tipotrabalho">Tipo de trabalho</label>
              <select class="form-select" name="tipo_trabalho">
                {% for trabalho in trabalhos%}
                <option value="{{trabalho.trabalho}}">{{trabalho.trabalho}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="mb-2">
            <label class="form-label">Principais Atividades</label>
            <input class="form-control" type="text" name="principais_atividades" maxlength='299' required>
          </div>
          <div class="mb-2">
            <label class="form-label">Requisitos</label>
            <textarea class="form-control" type="text" name="requisitos" maxlength="399" style="resize: none" required></textarea>
          </div>
          <div class="mb-2">
            <label class="form-label">Diferencial</label>
            <input class="form-control" type="text" name="diferencial" maxlength='299' required>
          </div>
          <div class="mb-2">
            <label class="form-label">Beneficios</label>
            <textarea class="form-control" name="beneficios" maxlength="499" style="resize: none" required></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Descartar</button>
            <button type="submit" name="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>