:root {
    --border-color: #c9cbcb;
}
body {
    background-color: #fcfdfd;
}

.navbar {
    background-color: #0e0062;
}
.navbar-logo {
    position: relative;
    margin-left: 70px;
}
.navbar-logo img {
    position: absolute;
    right: 0;
    height: 70px;
    top: -28px;
}
.botaoLogin {
    border: 1px solid #fff;
    padding: 5px 10px;
    height: unset;
    border-radius: 20px;
    background: transparent;
    color: #fff;
}
header.fixed-top + * {
    margin-top: 100px;
}

main.container {
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
}
main {
    margin-top: 2em;
}
.container :is(.sidebar, .content) {
    background: #eff4f5;
    padding: 1em 1.5em;
    direction: ltr;
}
.container .right-column {
    width: 100%;
}
.container .content {
    position: relative;
    width: 100%;
}
.left-column {
    width: 27%;
}
.page-header {
    background: #dae0e38a;
    padding: 7px 0;
    margin: -1em -1.5em 1em;
    display: flex;
}
.page-header h1 {
    line-height: 1;
    font-size: 24px;
    background: #7eb627;
    width: max-content;
    padding: .3em .7em .3em .5em;
    border-radius: 0 15px 15px 0;
    margin: 0;
    transform: translateX(-7px);
    color: white;
    align-self: center;
}
.page-header h1 ~ * {
    margin-right: 7px;
}

form.filtros {
    flex: 1 auto;
    display: flex;
    flex-wrap: wrap;
    gap: .75em;
    align-items: baseline;
}
form.filtros select {
    flex: 1;
    padding: .4em;
    background: transparent;
    border: 0;
    border-bottom: 1px solid var(--border-color);
}

.sidebar-menu {
    padding: 0;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    margin: 0;
}
.sidebar-avatar {
    display: block;
    width: 100px;
    aspect-ratio: 1;
    border: 2px solid #d0dade;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
}

.lista-de-vagas li {
    list-style: none;
}
.vagas {
    display: flex;
    gap: 10px;
}
.lista-de-vagas {
    width: 100%;
    height: 100%;
}
.lista-de-vagas ul {
    padding: 0;
}
.lista-de-vagas ul li {
    min-height: 40px;
    padding: .7em;
}
.lista-de-vagas li:hover {
    background: #e4e9eb;
    cursor: pointer;
}
.lista-de-vagas li.active {
    border: 2px solid #4774c7 !important;
}
.lista-de-vagas ul li:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}
.informacoes-da-vaga {
    border-left: 1px solid var(--border-color);
    padding-left: 10px;
    flex-basis: 140%;
    align-self: flex-start;
    height: 100vh;
    position: sticky;
    top: 0;
}
.informacoes-da-vaga h3 {
    font-size: 1.55rem;
    margin-top: .7em;
}
.lista-de-vagas h2 {
    font-size: 20px;
    font-weight: 600;
}
.lista-de-vagas p, .vaga .card-text:not(:last-of-type) {
    margin-bottom: .3em;
}
.lista-de-vagas p:last-child {
    margin-bottom: 0;
}
.vaga-wrapper {
    display: flex;
    align-items: center;
    gap: 1em;
}
.vaga-wrapper img {
    height: 70px;
}
.sidebar .btn {
    width: 100%;
}
.informacao-de-inscricao {
    display: inline-block;
    background: gray;
    color: white;
    padding: .05em .3em;
    text-transform: lowercase;
}
ul.hide-bullets {
    padding: 0;
}
ul:is(.hide-bullets, .inline-list) li {
    list-style: none;
}
ul.hide-bullets > li + li {
    margin-top: .3em;
}
ul.inline-list {
    display: flex;
    padding: 0;
}
ul.inline-list li:not(:last-child)::after {
    content: "";
    display: inline-block;
    background: currentColor;
    opacity: .5;
    height: 1em;
    width: 1px;
    margin-left: 7px;
    margin-right: 7px;
    vertical-align: -.125em;
}
.informacoes-logo {
    float: right;
    width: 150px;
    margin-left: 10px;
    margin-bottom: 10px;
}


.btn-primary {
    --bs-btn-bg: #2049b5;
    --bs-btn-border-color: var(--bs-btn-bg);
    --bs-btn-hover-bg: #7eb627;
    --bs-btn-hover-border-color: var(--bs-btn-hover-bg);
}

.top-detail {
    width: 100%;
    height: 22px;
}
.top-detail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transform: scaleX(-1);
    position: relative;
    z-index: -1;
}

.modal :is(.form-control, .form-select) {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    box-shadow: none;
}

.modal-header {
    background: #0e0062;
    color: #fff;
}
.modal-header .btn-close {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}

.modal-footer button {
    border-radius: 20px;
}

.outline {
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, .5));
}

.ar-2\/1 {
    aspect-ratio: 2 / 1;
    object-fit: contain;
}
