{% extends 'base.html' %}
{% load static %}
{% block title %}Mensagens{% endblock %}
{% block head %}
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato'><link rel="stylesheet" href="{% static './dist/style.css' %}">
{% endblock %}
{% block body_class %}page-dashboard{% endblock %}
{% block content %}
<p></p>
<p></p>
<p></p>
<!-- partial:index.partial.html -->
<div class="--dark-theme" id="chat">
  {% if msg %}
  <div class="chat__conversation-board">
    {% for m in msg %}
    {% if m.mensagem and not m.mandou.id == id %}
    <div class="chat__conversation-board__message-container">
      <div class="chat__conversation-board__message__person">
        <div class="chat__conversation-board__message__person__avatar"><img src="{% static 'img/candidato.jpg' %}" alt="Monika Figi"/></div><span class="chat__conversation-board__message__person__nickname">{{dados.nome_do_candidato}}</span>
      </div>
      {% if not m.mandou.id == id %}
      <div class="chat__conversation-board__message__context">
        <div class="chat__conversation-board__message__bubble"> <span>{{m.mensagem}}</span></div>
      </div>
      {% endif %}
    </div>
    {% endif %}

    {% comment %} <-----Dennis Mikle----> {% endcomment %}
    {% if m.mensagem and m.mandou.id == id %}
    <div class="chat__conversation-board__message-container reversed">
      <div class="chat__conversation-board__message__person">
        <div class="chat__conversation-board__message__person__avatar"><img src="{{dados.imagem_perfil.url}}" alt="Dennis Mikle"/></div><span class="chat__conversation-board__message__person__nickname">{{mandou.username}}</span>
      </div>
      {% if m.mandou.id == id%}
      <div class="chat__conversation-board__message__context">
        <div class="chat__conversation-board__message__bubble"> <span>{{m.mensagem}}</span></div>
      </div>
      {% endif %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% else %}
    <div class="--dark-theme" id="chat">
      <div class="chat__conversation-board">
      </div>
    </div>
    {% comment %} end {% endcomment %}

{% endif %}
  <form action="{% url 'chatC' id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="chat__conversation-panel">
      <div class="chat__conversation-panel__container">
        <input name='mensagem' class="chat__conversation-panel__input panel-item" placeholder="Type a message..."/>
        <button type="submit" class="chat__conversation-panel__button panel-item btn-icon send-message-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" data-reactid="1036">
            <line x1="22" y1="2" x2="11" y2="13"></line>
            <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
          </svg>
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
