{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!--meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css e bootstrap-->
    <link rel="stylesheet" href="{% static 'css/acesso.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">

    <title>acesso rápido</title>
</head>
<body>
    <div class="caixa">

        <div class="imagem">
        </div>

        <div class="caixa1">

            <div class="texto">
            <h5>Antes de prosseguir, precisamos saber:<br> Como você se identifica?</h5>
            </div>

             <div class="botoes">

            <a href="{% url 'cadastro_empresa' %}" type="submit" class="btn btn-primary"> Sou Empresa</a>
            <a href="{% url 'cadastro_candidato' %}" type="submit" class="btn btn-primary">Sou Candidato</a>

            </div>
        </div>
    </div>
</body>
</html>