{% extends 'base.html' %}
{% load static %}
{% block title %}Ninna-Jobs - Cadastrar{% endblock %}
{% block head %}
    <!--css e bootstrap-->
    <link rel="stylesheet" href="{% static 'css/acesso.css' %}">
    {% endblock %}
    {% block body_class %}page-profile{% endblock %}
    {% block content %}
    <div class="caixa">
        <div class="imagem">
        </div>
        <div class="caixa1">
            <div class="texto">
            <h5>Antes de prosseguir, precisamos saber:<br> Como você se identifica?</h5>
            </div>
            <div class="botoes">
            <a href="{% url 'cadastro_empresa' %}" class="btn btn-primary"> Sou Empresa</a>
            <a href="{% url 'cadastro_candidato' %}" class="btn btn-primary">Sou Candidato</a>
            </div>
        </div>
    </div>
{% endblock %}