<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!--meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css e bootstrap-->
    <link rel="stylesheet" href="./acesso.css">
    <link rel="stylesheet" href="./bootstrap-5.2.1-dist/css/bootstrap.css">

    <title>acesso rápido</title>
</head>
<body>
    <div class="caixa">

        <div class="imagem">
        <img src="./homem.png"  class="homem">
        </div>

        <div class="caixa1">

            <div class="texto">
            <h5>Antes de prosseguir precisamos saber,<br> como você se identifica?</h5>
            </div>

             <div class="botoes">

            <button type="submit" class="btn btn-primary"> Empresa</button>
            <button type="submit" class="btn btn-primary">Candidato</button>

            </div>
        </div>
    </div>
</body>
</html>