{% extends 'base.html' %}
{% load static %}
{% block title %}Admin{% endblock %}
{% block head %}

<script src="{% static 'node_modules/chart.js/dist/chart.js' %}" defer></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>
<script src="{% static 'js/jquery-3.5.1.js' %}" defer></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}" defer></script>
<script src="{% static 'js/dataTables.bootstrap5.min.js' %}" defer></script>
<script src="{% static 'js/charts.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/admin.css' %}"/>
{% endblock %}
{% block body_class %}page-dashboard{% endblock %}
{% block content %}
    <!-- conteudo principal-->
    <main class="row">
      {% include 'partials/sidebar/admin.html' %}
      <div class="col-8">
        <div>
          <h2 class="text-center">Empresas</h2>
          <div>
            <!--Tabela das empresas-->
            <div class="col-sm-12 p-3">
              <table id="datatables-dashboard-projects" class="table table-striped my-0" aria-describedby="">
                <thead>
                  {% comment %} <div class="row">
                    <div class="col">
                      <tr>
                        <th tabindex="0" rowspan="1" colspan="1" aria-label="Ações">Filtros</th>
                          <th tabindex="0" rowspan="1" colspan="1" aria-label="Inativo">
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" role="switch" id="ativo">
                              <label class="form-check-label" for="ativo" name="ativofiltro">Ativo</label>
                            </div>
                          </th>
                          <th tabindex="0" rowspan="1" colspan="1" aria-label="Ações">
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" role="switch" id="inativo" name="inativofiltro">
                              <label class="form-check-label" for="inativo">Inativo</label>
                            </div>
                          </th>
                          <th><input class="form-check-input" type="checkbox" id="checkTodos" name="checkTodos"> Selecionar Todos</th>
                        </th>
                      </tr>
                    </div>
                  </div> {% endcomment %}
                  <form method='GET' action="{% url 'buscar' %}" class="filtros my-4">
                    <div class="input-group">
                        <input name='busca/admin/empresa' placeholder="Pesquisar" type="search" class="form-control">
                        <span class="input-group-text"><i class="bi bi-search"></i>
                        </span>
                    </div>
                  </form>
                  <tr>
                    {% comment %} <th>Selecionar</th> {% endcomment %}
                    <th class="sorting sorting_asc" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">Nome</th>
                    <th class="d-none d-xl-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="data de inscrição">Data de inscrição</th>
                    <th class="d-none d-xl-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Vaga Lançada">Ultima Vaga Lançada</th>
                  </tr>
                </thead>
                <tbody>
                  {% for e in empresa %}
                  <tr class="empresas">
                    {% comment %} <td>
                      <div class="form-check">
                        <input class="form-check-input marcar" type="checkbox" value="" id="flexCheckDefault" name="marcarexcluirempresa">
                      </div>
                    </td> {% endcomment %}
                    {% for p in perfil_emp %}
                    {% if p.user == e %}
                    <td class="sorting_1">{{ p.nome_fantasia }}({{e.username}})</td>
                    {% else %}
                    <td class="sorting_1">{{ e.username }}</td>
                    {% endif %}
                    {% endfor %}

                    {% for k,v in vagas.items %}
                      <td class="d-none d-xl-table-cell">{{v.1.date_joined|date:"d/m/Y"}}</td>
                    {% if v.1 == e %}
                      <td class="d-none d-xl-table-cell">{{v.0|date:"d/m/Y | H:i:s"}}</td>
                    {% else %}
                      <td class="d-none d-xl-table-cell">Nao possui vagas</td>
                    {% endif %}
                    {% endfor %}

                    <td><span class="badge bg-success">Ativo</span></td>
                    <td class="d-none d-md-table-cell">
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Ações
                        </button>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'admin_ban' e.pk %}"><button type="submit" class="dropdown-item"><i class="bi bi-trash"></i>Excluir</button></a></li>
                          <li><a href="{% url 'ver_perfil_empresa' e.pk %}"><button class="dropdown-item"><i class="bi bi-building"></i> Ver Perfil</button></a></li>
                          {% comment %} <li><button class="dropdown-item" href="#"><i class="bi bi-envelope"></i> Enviar E-mail</button></li> {% endcomment %}
                        </ul>

                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          {% comment %} <button type="button" class="btn btn-primary"><i class="bi bi-trash"></i>
            Excluir
          </button> {% endcomment %}
        </div>
          <!-- ##### Pagination ##### -->
          <section class="top-catagory-area section-padding-20-0">
            <div class="container">
                {% if empresa.has_other_pages %}
                <ul class="pagination">
                    {% if empresa.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ empresa.previous_page_number }}" class="page-link">&laquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&laquo;</a>
                    </li>
                    {% endif %}
                    {% for pagina in empresa.paginator.page_range %}
                    {% if empresa.number == pagina %}
                    <li class="page-item active">
                        <a class="page-link">{{ pagina }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a href="?page={{ pagina }}" class="page-link">{{ pagina }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if empresa.has_next %}
                    <li class="page-item">
                        <a href="?page={{ empresa.next_page_number }}" class="page-link">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&raquo;</a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
          </section>
      </div>
    </main>
    {% endblock %}

