{% extends 'base.html' %}
{% load static %}
{% block title %}NinnaJobs - Admin{% endblock %}
{% block head %}

<script src="{% static 'node_modules/chart.js/dist/chart.js' %}" defer></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>
<script src="{% static 'js/jquery-3.5.1.js' %}" defer></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}" defer></script>
<script src="{% static 'js/dataTables.bootstrap5.min.js' %}" defer></script>
<script src="{% static 'js/charts.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/admin.css' %}"/>
{% endblock %}
{% block body_class %}page-dashboard{% endblock %}
{% block content %}
    <!-- conteudo principal-->
    <main class="row">
      {% include 'partials/sidebar/admin.html' %}
      <div class="col-8">
        <div>
          <h2 class="text-center">Empresas</h2>
          <div>
            <!--Tabela das empresas-->
            <div class="col-sm-12 p-3">
              <table id="datatables-dashboard-projects" class="table table-striped my-0" aria-describedby="">
                <thead>
                  <div class="row">
                    <div class="col">
                      <tr>
                        <th tabindex="0" rowspan="1" colspan="1" aria-label="Ações">Filtros</th>
                          <th tabindex="0" rowspan="1" colspan="1" aria-label="Inativo">
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" role="switch" id="ativo">
                              <label class="form-check-label" for="ativo" name="ativofiltro">Ativo</label>
                            </div>
                          </th>
                          <th tabindex="0" rowspan="1" colspan="1" aria-label="Ações">
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" role="switch" id="inativo" name="inativofiltro">
                              <label class="form-check-label" for="inativo">Inativo</label>
                            </div>
                          </th>
                          <th><input class="form-check-input" type="checkbox" id="checkTodos" name="checkTodos"> Selecionar Todos</th>
                        </th>
                      </tr>
                    </div>
                  </div>
                  <tr>
                    <th>Selecionar</th>
                    <th class="sorting sorting_asc" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">Nome</th>
                    <th class="d-none d-xl-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="data de inscrição">Data de inscrição</th>
                    <th class="d-none d-xl-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Vaga Lançada">Ultima Vaga Lançada</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="empresas">
                    <td>
                      <div class="form-check">
                        <input class="form-check-input marcar" type="checkbox" value="" id="flexCheckDefault" name="marcarexcluirempresa">
                      </div>
                    </td>
                    <td class="nome-table">Xbox</td>
                    <td class="">01/01/2021</td>
                    <td class="">31/06/2021</td>
                  <tr class="empresas">
                    <td>
                      <div class="form-check">
                        <input class="form-check-input marcar" type="checkbox" value="">
                      </div>
                    </td>
                    <td class="nome-table">Nitendo</td>
                    <td class="">01/01/2021</td>
                    <td class="">31/06/2021</td>
                  </tr>
                  <tr class="empresas">
                    <td>
                      <div class="form-check">
                        <input class="form-check-input marcar" type="checkbox" value="">
                      </div>
                    </td>
                    <td class="nome-table">PlayStation</td>
                    <td class="">01/01/2021</td>
                    <td class="">31/06/2021</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-primary"><i class="bi bi-trash"></i>
            Excluir
          </button>
        </div>
      </div>
    </main>
    {% endblock %}

