{% extends 'base.html' %}
{% load static %}
{% block title %}Admin{% endblock %}
{% block head %}

<script src="{% static 'node_modules/chart.js/dist/chart.js' %}" defer></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>
<script src="{% static 'js/jquery-3.5.1.js' %}" defer></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}" defer></script>
<script src="{% static 'js/dataTables.bootstrap5.min.js' %}" defer></script>
<script src="{% static 'js/charts.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/admin.css' %}"/>
{% endblock %}
{% block body_class %}page-dashboard{% endblock %}
{% block content %}
    <!-- conteudo principal-->
    <main class="row">
      {% include 'partials/sidebar/admin.html' %}
      <div class="col-8">
        <div>
          <h2 class="text-center">Empresas</h2>
          <div>
            <!--Tabela das empresas-->
            <div class="col-sm-12 p-3">
              <table id="datatables-dashboard-projects" class="table table-striped my-0" aria-describedby="">
                <thead>
                  {% comment %} <div class="row">
                    <div class="col">
                      <tr>
                        <th tabindex="0" rowspan="1" colspan="1" aria-label="Ações">Filtros</th>
                          <th tabindex="0" rowspan="1" colspan="1" aria-label="Inativo">
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" role="switch" id="ativo">
                              <label class="form-check-label" for="ativo" name="ativofiltro">Ativo</label>
                            </div>
                          </th>
                          <th tabindex="0" rowspan="1" colspan="1" aria-label="Ações">
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" role="switch" id="inativo" name="inativofiltro">
                              <label class="form-check-label" for="inativo">Inativo</label>
                            </div>
                          </th>
                          <th><input class="form-check-input" type="checkbox" id="checkTodos" name="checkTodos"> Selecionar Todos</th>
                        </th>
                      </tr>
                    </div>
                  </div> {% endcomment %}
                  <form method='GET' action="{% url 'BAempresa' %}" class="filtros my-4">
                    <div class="input-group">
                        <input name='BAempresa' placeholder="Pesquisar" type="search" class="form-control">
                        <span class="input-group-text"><i class="bi bi-search"></i>
                        </span>
                    </div>
                  </form>
                  <tr>
                    <th>Selecionar</th>
                    <th class="sorting sorting_asc" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">Nome</th>
                    <th class="d-none d-xl-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="data de inscrição">Data de inscrição</th>
                    <th class="d-none d-xl-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Vaga Lançada">Ultima Vaga Lançada</th>
                  </tr>
                </thead>
                <tbody>
                  {% for vaga in vagas %}
                  <tr class="empresas">
                    <td>
                      <div class="form-check">
                        <input class="form-check-input marcar" type="checkbox" value="" id="flexCheckDefault" name="marcarexcluirempresa">
                      </div>
                    </td>
                    <td class="sorting_1">{{ vaga.user.username }}</td>
                    <td class="d-none d-xl-table-cell">{{vaga.user.date_joined|date:"d/m/Y"}}</td>
                    <td class="d-none d-xl-table-cell">{{vaga.data_vaga}}</td>
                    <td><span class="badge bg-success">Ativo</span></td>
                    <td class="d-none d-md-table-cell">
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Ações
                        </button>
                        <ul class="dropdown-menu">
                          <li><button type="submit" class="dropdown-item"><i class="bi bi-trash"></i> Excluir</button></li>
                          <li><a class="dropdown-item" href="#"><i class="bi bi-envelope"></i> Enviar E-mail</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                    <td class="d-none d-xl-table-cell">{{v.1.date_joined|date:"d/m/Y"}}</td>
                      <td class="d-none d-xl-table-cell">{{v.0|date:"d/m/Y | H:i:s"}}</td>

                    <td><span class="badge bg-success">Ativo</span></td>
                    <td class="d-none d-md-table-cell">
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Ações
                        </button>
                        <ul class="dropdown-menu">
                          {% for id in id_empresas %}
                          {% if id == v.1  %}
                          <li><a href="{% url 'admin_ban' id.pk %}"><button type="submit" class="dropdown-item"><i class="bi bi-trash"></i>Excluir</button></a></li>
                          {% endif %}
                          {% endfor %}
                          <li><button class="dropdown-item" href="#"><i class="bi bi-envelope"></i> Enviar E-mail</button></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-primary"><i class="bi bi-trash"></i>
            Excluir
          </button>
        </div>
      </div>
    </main>
    {% endblock %}

