{% extends 'base.html' %}
{% load static %}
{% block title %}Admin{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap5.min.css'%}" />
    <link rel="stylesheet" href="{% static 'css/admin.css'%}" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css'%}" />


  <script src="{% static 'js/dist/jquery.validate.min.js' %}"></script>
  <script src="{% static 'js/dist/jquery..js' %}"></script>
  <script src="{% static 'js/dist/additional-methods.min.js' %}"></script>
{% block body_class %}
{% endblock %}
{% block content %}
{% endblock %}
<style>
  .val .error{
    color: red;
}
</style>
    {% include 'partials/header.html' %}
    <!-- navbar -->
    <!-- conteudo principal-->
    <main class="row">
      {% include 'partials/sidebar/admin.html' %}
      <div class="col-8">
        <div>
          <h2 class="text-center">Administradores</h2>
          <div>
          {% include 'partials/_alertas.html' %}

            <!--Tabela das admin-->
            <div class="col-sm-12 p-3">
              <table id="datatables-dashboard-projects" class="table table-striped my-0" aria-describedby="">
                <thead>
                  <div class="row">
                    <div class="col">
                      <tr>
                        <th tabindex="0" rowspan="1" colspan="1" aria-label="Ações">Filtros</th>
                          <form action="{% url 'acoes_admin' %}" method="POST">
                            {% csrf_token %}
                              <th tabindex="0" rowspan="1" colspan="1" aria-label="Inativo">
                                <div class="form-check form-switch">
                                  {% if recentes %}
                                  <input class="form-check-input" type="checkbox" name='recentes' role="switch" id="ativo" checked>
                                  {% else %}
                                  <input class="form-check-input" type="checkbox" name='recentes' role="switch" id="ativo">
                                  {% endif %}
                                  <label class="form-check-label" for="ativo" name="ativofiltro">Mais Recentes</label>
                                </div>
                              </th>
                              <th tabindex="0" rowspan="1" colspan="1" aria-label="Ações">
                                <div class="form-check form-switch">
                                  {% if inativofiltro %}
                                  <input class="form-check-input" type="checkbox" role="switch" id="inativo" name="inativofiltro" checked>
                                  {% else %}
                                  <input class="form-check-input" type="checkbox" role="switch" id="inativo" name="inativofiltro">
                                  {% endif %}
                                  <label class="form-check-label" for="inativo">Inativo</label>
                                </div>
                              </th>
                              <th tabindex="0" rowspan="1" colspan="1" aria-label="Ações">
                                <div class="form-check form-switch">
                                  <button type="submit" class="btn btn-primary">filtrar</button>
                                </div>
                              </th>
                            {% comment %} <th><input class="form-check-input" type="checkbox" id="checkTodos" name="checkTodos"> Selecionar Todos</th> {% endcomment %}
                          </form>
                        </th>
                      </tr>
                    </div>
                  </div>

                  <form method='GET' action="{% url 'buscar' %}" class="filtros my-4">
                    <div class="input-group">
                        <input name='buscar/admin/admins' placeholder="Pesquisar" type="search" class="form-control">
                        <span class="input-group-text"><i class="bi bi-search"></i></span>
                    </div>
                  </form>
                  <tr>
                    {% comment %} <th>Selecionar</th> {% endcomment %}
                    <th class="sorting sorting_asc" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">Nome</th>
                    <th class="d-none d-xl-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="data de inscrição">Data de inscrição</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in dados %}
                  <tr class="empresas">
                    {% comment %} <td>
                      <div class="form-check">
                        <input class="form-check-input marcar" type="checkbox" value="" id="flexCheckDefault" name="marcarexcluirempresa">
                      </div>
                    </td> {% endcomment %}
                    <td class="sorting_1">{{i.username}}</td>
                    <td class="d-none d-xl-table-cell">{{i.date_joined|date:"d/m/Y | H:i:m"}}</td>
                    {% if i.is_active == True %}
                    <td><span class="badge bg-success">Ativo</span></td>
                    {% else %}
                    <td><span class="badge bg-danger">Desativo</span></td>
                    {% endif %}
                    <td class="d-none d-md-table-cell">
                      <a href="{% url 'admin_ban' i.pk %}"><button type="submit" class="btn btn-primary"><i class="bi bi-trash"></i> Excluir</button></a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            adicionar
          </button>
        </div>
        {% include 'partials/_paginacao.html' %}
      </div>
    </main>
      <!--Modal de adicionar um novo Administrador-->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar Administrador</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!--Form para cadastrar um novo admin-->
              <form action="{% url 'acoes_admin'%}" method="POST" id="adicionar-admin" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-mb-6">
                  <label for="perfilfoto">Selecione uma foto de perfil</label>
                  <input name='perfilfoto' id="perfilfoto" type="file" class="form-control" aria-label="file example" required>
                  <div class="invalid-feedback">Example invalid form file feedback</div>
                </div>
                <!-- <div class="col-md-8">
                  <label for="validationCustom01" class="form-label">Nome Completo</label>
                  <input type="text" name="" class="form-control" id="validationCustom01" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div> -->
                <div class="col-md-4">
                  <label for="validationCustomUsername" class="form-label">Nome de Usuario</label>
                  <div class="input-group has-validation val">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                    <input type="text" name="username" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                  </div>
                </div>
                <div class="col-12 val">
                  <label for="validationCustom01" class="form-label">Email</label>
                  <input type="text" name="email" class="form-control" id="validationCustom01" required>
                </div>
                <div class="col-12 val">
                  <label for="senha" class="form-label">Senha</label>
                  <input type="password" name="password" class="form-control" id="senha" required>
                </div>
                <div class="col-12 val">
                  <label for="validationCustom01" class="form-label">Repita a senha</label>
                  <input type="password" name="password2" class="form-control" id="validationCustom01" required>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    <script>
      $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var recipient = button.data('whatever')
      var modal = $(this)
      modal.find('.modal-title').text('New message to ' + recipient)
      modal.find('.modal-body input').val(recipient)
      })
    </script>
    <script>
      var checkTodos = $("#checkTodos");
      checkTodos.click(function () {
        if ( $(this).is(':checked') ){
          $('.marcar').prop("checked", true);
        }else{
          $('.marcar').prop("checked", false);
      }
      });
    </script>
    <script>
      $.validator.addMethod( "pattern", function( value, element, param ) {
        if ( this.optional( element ) ) {
            return true;
        }
        if ( typeof param === "string" ) {
            param = new RegExp( "^(?:" + param + ")$" );
        }
        return param.test( value );
      }, "Invalid format." );

      $(document).ready(function(){
      $("#adicionar-admin").validate({
          rules:{
            username: {
                required: true,
                maxlength: 10,
            },
            email: {
                required: true,
                email: true
            },
            password: {
                required: true,
                maxlength: 60,
                minlength: 8,
                pattern: "((?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\\W]).{6,64})"
            },
            password2: {
                required:true,
                equalTo: "#password2"
            },
          },
          messages:{
            username: {
              required: "Insira seu usuário",
              maxlength: "Maximo 10 caracteres",
          },
          email: {
              required: "Email obrigatório",
              email: "Coloque um email válido"
          },
          password: {
              required: "senha obrigatória",
              maxlength: "Máximo 60 caracteres",
              minlength: "Sua senha deve ter no minimo 8 caracteres",
              pattern: "Deve conter uma letra maiuscula, minuscula e um caracter especial"
          },
          password2: {
              required:"Repita a senha",
              equalTo: "Senhas diferentes"
          },
        },
      })
    })
    </script>
    <script src="/node_modules/chart.js/dist/chart.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>
{% endblock %}

