{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!--meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css e bootstrap-->

    <!-- <link rel="stylesheet" href="./bootstrap-5.2.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href= "./css/alterarsenha.css"> -->

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/alterarsenha.css' %}">

    <title>Alteração de senha</title>

</head>
<body>
     <div class="div-box">
         <div class="div-h2">
         <h2>Alterar senha de acesso</h2>
         <hr>
        </div>

        <div class="div-p">
            <p>Preencha os dados abaixo para efetuar troca de senha</p>
        </div>

        <form action="{% url 'alterar_senha' %}" method="POST"> {% csrf_token %}
            {% include 'partials/_alertas.html' %}
            <div class="div-novasenha">
                <div class="mb-4">
                    <label for="exampleFormControlInput1" class="form-label">Nova senha:</label>
                    <input type="password" class="form-control border-success borda" id="password1" placeholder="Digite sua nova senha" name="nova_senha">
                </div>

                <div class="mb-4">
                    <label for="exampleFormControlInput1" class="form-label">Confirmar nova senha:</label>
                    <input type="password" class="form-control border-success borda" id="password2" placeholder="Digite sua nova senha novamente" name="confirmar_nova_senha">
                </div>
            </div>

            <div class="div-enviar">
                <button type="submit" class="btn btn-primary" id="button">Enviar</button>
            </div>
        </form>
     </div>
     <script src="{% static 'js/jquery-2.2.4.min.js' %}" defer></script>
</body>
</html>