{% extends 'base.html' %}
{% load static %}
{% block title %}Banco de Talentos{% endblock %}
{% block head %}
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}
{% block body_class %}page-talentos{% endblock %}
{% block content %}
  <main class="container">
    <div class="right-column">
      <div class="content">
        <header class="page-header">
          <h1>Banco de Talentos</h1>
        </header>
        <h2 class="h5 mb-3 text-secondary">Escolha o melhor candidato para a vaga</h2>
        <ul class="w3-ul w3-card-4">
          <li class="w3-bar">
              <span class="w3-bar-item w3-button w3-white w3-xlarge w3-right"><i class="bi bi-star"></i></span>
              <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
              <img src="./ninna-jobs/ninna_jobs/static/img/candidato.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
              <div class="w3-bar-item">
                  <span class="w3-large">Maria Alice Teixeira da Costa</span><br>
                  <span>Area de atuação 1</span>
                  <span>Nivel Profissional: Junior</span>
                  <span>Formação academica: superior</span>
                  <span>curso: cu</span>
              </div>
          </li>
      </ul>
      </div>
    </div>
    {% include 'partials/sidebar/empresa.html' %}
  </main>
{% endblock %}