{% extends 'base.html' %}
{% load static %}
{% block title %}Candidatos Favoritados{% endblock %}
{% block head %}
{% endblock %}
{% block body_class %}page-talentos{% endblock %}
{% block content %}
    <main class="container">
        <div class="right-column">
            <div class="content">
                <header class="page-header">
                    <h1>Candidatos Favoritados</h1>
                    <form action="" class="filtros">
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                            <input name="filtro" id="txt_pesquisa" placeholder="Pesquisar" type="search" class="form-control">
                        </div>
                    </form>
                </header>
                <h2 class="h5 mb-3 text-secondary">Escolha o melhor candidato para a vaga</h2>
                <ul class="card d-flex shadow-lg p-2 mb-2 bg-body rounded">
                    <div class="position-absolute top-0 end-0 bg-light">
                        <button class="fs-5 bg-light border border-0"><i class="bi bi-star-fill"></i></button>
                        <a href="#" class="fs-5 bg-light"><i class="bi bi-file-earmark-person"></i><a>
                        <button onclick="this.parentElement.style.display='none'" class="fs-5 bg-light border border-0"><i class="bi bi-x"></i></button>
                    </div>
                    <li class="d-flex">
                        <img src="{% static 'img/candidato.jpg' %}" class="sidebar-avatar my-3 mx-1">
                        <div class="my-auto mx-1">
                            <span class="fs-4">Maria Alice Teixeira da Costa</span><br>
                            <div class="d-flex flex-wrap">
                                <p class="mx-1 my-1">Area de atuação: Informatica</p>
                                <p class="mx-1 my-1">Nivel Profissional: Junior</p>
                                <p class="mx-1 my-1">Formação academica: superior</p>
                                <p class="mx-1 my-1">curso: FrontEnd</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    {% include 'partials/sidebar/empresa.html' %}
</main>
{% endblock %}