{% extends 'base.html' %}
{% load static %}
{% block title %}Vagas lançadas{% endblock %}
{% block head %}
  <script src="{% static 'js/tabber.js' %}" defer></script>
  <link rel="stylesheet" href="{% static 'css/tabber.css' %}">
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block body_class %}page-dashboard{% endblock %}
{% block content %}
  <main class="container">
    <div class="right-column">
      <section class="content">
        <header class="page-header">
          <h1>Vagas lançadas</h1>
          <form method='GET' action="{% url 'bempresa' %}" class="filtros">
            <div class="form-group input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
              <input name="bempresa" id="txt_pesquisa" placeholder="Pesquisar" type="search" class="form-control">
            </div>
          </form>
          <!--<form action="" class="filtros">
            <select name="teste1" id="">
              <option value="a0" selected disabled>Empresa</option>
              <option value="a1">empresa1</option>
              <option value="a2">empresa2</option>
              <option value="a3">empresa3</option>
              <option value="a4">empresa4</option>
            </select>
            <select name="teste2" id="">
              <option value="a0" selected disabled>Vaga</option>
              <option value="a1">vaga1</option>
              <option value="a2">vaga2</option>
              <option value="a3">vaga3</option>
              <option value="a4">vaga4</option>
            </select>
            <select name="teste3" id="">
              <option value="a0" selected disabled>Nível de experiência</option>
              <option value="a1">experiência1</option>
              <option value="a2">experiência2</option>
              <option value="a3">experiência3</option>
              <option value="a4">experiência4</option>
            </select>
          </form>-->
        </header>
        <div class="tabber">
          <div class="tabber__tabs">
            <button type="button" class="tabber__tab active">Abertas</button>
            <button type="button" class="tabber__tab">Talentos Favoritados</button>
            <button type="button" class="tabber__tab">Arquivadas</button>
          </div>
          {% include 'partials/_alertas.html' %}
          <div class="tabber__content">
            <section id="abertas" class="active">
              <div class="row row-cols-1 row-cols-md-3 g-3 py-2 px-1">
                {% if vagas %}
                  {% for vaga in vagas %}
                    <div class="col">
                      <div class="card h-100 vaga">
                        <img src="{{ vaga.logo_empresa.url }}" class="card-img-top outline ar-2/1 mt-3" alt="">
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title">{{ vaga.nome_vaga }}</h5>
                          <ul class="hide-bullets">
                            <li>
                              <ul class="inline-list">
                                <li><i class="bi bi-building" title="Empresa"></i> {{ vaga.nome_empresa }}</li>
                                <li><i class="bi bi-geo-alt" title="Local"></i> {{ vaga.local_empresa }}</li>
                              </ul>
                            </li>
                            <li>
                              <ul class="inline-list">
                                <li><i class="bi bi-file-earmark-text" title="Tipo de contrato"></i> {{ vaga.tipo_contratacao }}</li>
                                <li><i class="bi bi-person-workspace" title="Tipo de trabalho"></i> {{ vaga.tipo_trabalho }} </li>
                              </ul>
                            </li>
                          </ul>
                          <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Dropdown link
                            </a>

                            <ul class="dropdown-menu">
                              <li><button type="button" class="btn btn-primary align-self-start mt-auto dropdown-item" data-bs-toggle="modal" data-bs-target="[data-modal-id='{{ vaga.nome_vaga }} @ {{ vaga.principais_atividades }}']">
                                Detalhes
                              </button></li>
                              <li>
                                <a href="{% url 'listar_talentos_candidatados' vaga.id %}" class="btn btn-primary align-self-start mt-auto dropdown-item">Ver Talentos</a>
                              </li>
                              <li>
                                <a href="{% url 'arquivar_vaga' vaga.id %}" class="btn btn-primary align-self-start mt-auto dropdown-item">Arquivar Vaga</a>
                              </li>
                            </ul>
                          </div>

                          <div class="modal fade" data-modal-id="{{ vaga.nome_vaga }} @ {{ vaga.principais_atividades }}" tabindex="-1" {#aria-labelledby="exampleModalLabel" #}aria-hidden="true">
                            <div class="modal-dialog{# modal-lg#}">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title h5 titulovaga" id="modalVaga">{{ vaga.nome_vaga }} ({{ vaga.tipo_trabalho }})</h4>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <ul class="hide-bullets">
                                    <li>
                                      <ul class="inline-list">
                                        <li class="info" id="nomeEmpresa"><i class="bi bi-building" title="Empresa"></i> {{ vaga.nome_empresa }}</li>
                                        <li class="info" id="localEmpresa"><i class="bi bi-geo-alt" title="Local"></i> {{ vaga.local_empresa }}</li>
                                      </ul>
                                    </li>
                                    <li>
                                      <ul class="inline-list">
                                        <li class="info" id="tipoDeContrato"><i class="bi bi-file-earmark-text" title="Tipo de contrato"></i> {{ vaga.tipo_contratacao }}</li>
                                        <li class="info" id="perfilProfissional"><i class="bi bi-person-workspace" title="Perfil profissional"></i> {{ vaga.perfil_profissional }}</li>
                                        <li class="info" id="salario">R$ {{ vaga.salario }}</li>
                                      </ul>
                                    </li>
                                  </ul>
                                  <h5 class="subtituloVaga">Principais atividades</h5>
                                  <p>{{ vaga.principais_atividades }}</p>
                                  <h5 class="subtituloVaga">Requísitos</h5>
                                  <p>{{ vaga.requisitos }}</p>
                                  <h5 class="subtituloVaga">Diferencial</h5>
                                  <p>{{ vaga.diferencial }}</p>
                                  <h5 class="subtituloVaga">Descrição da vaga</h5>
                                  <p>{{ vaga.descricao_vaga }}</p>
                                  <h5 class="subtituloVaga">Descrição da empressa</h5>
                                  <p>{{ vaga.descricao_empresa }}</p>
                                  <h5 class="subtituloVaga">Area atuacao</h5>
                                  <p>{{ vaga.area_atuacao }}</p>
                                  <h5 class="subtituloVaga">Beneficios</h5>
                                  <p>{{ vaga.beneficios }}</p>
                                </div>
                                <div class="modal-footer justify-content-between">
                                  <div>
                                  </div>
                                  {% if user.funcao == "EMP" %}
                                  <div class="col-12 col-sm-6 col-lg-4">
                                    <div class="single-best-receipe-area mb-30">
                                      <div class="receipe-content">
                                        <a href="{% url 'editar' vaga.id %}">
                                            <a href="{% url 'editar' vaga.id %}" type="button" class="btn btn-success">Editar</a>
                                            <a href="{% url 'deletar' vaga.id %}" type="button" class="btn btn-danger">Deletar</a>
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                  {% endif %}
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}
              </div>
            </section>

            <section id="talentos-favoritados">
              {% if ids_dos_talentos_favoritados %}
              {% if not user.funcao == "CAN" %}
              {% for d in dados %}
              <ul class="card d-flex shadow-lg p-2 mb-2 bg-body rounded">
                <div class="position-absolute top-0 end-0 bg-light">
                  {% include 'partials/botao-fav.html' %}
                    <a href="{% url 'perfil_candidato' d.user.id %}" class="w3-bar-item w3-button w3-white w3-xlarge w3-right"><i class="bi bi-file-earmark-person"></i></a>
                </div>
                <li class="d-flex">
                    <img src="{{ d.imagem_perfil.url }}" class="sidebar-avatar my-3 mx-1">
                    <div class="my-auto mx-1">
                        <span class="fs-4">{{d.nome_do_candidato}}</span><br>
                        <div class="d-flex flex-wrap">
                            {% for i in info %}
                            {% if i.user == d.user %}
                            <p class="mx-1 my-1">Area de atuação: {{i.areas_interesse}}</p>
                            {% endif %}
                            {% endfor %}
                            {% for f in form %}
                            {% if f.user == d.user %}
                            <p class="mx-1 my-1">Formação academica: {{f.formacao}}</p>
                            <p class="mx-1 my-1">curso: {{f.curso}}</p>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </li>
                {% for talento in lista_de_talentos %}
                  {% if talento == d.user %}
                  <a href="{% url 'perfil_candidato' talento.id %}" type="button" class="btn btn-primary">Ver perfil completo do talento</a>
                  {% endif %}
                  {% endfor %}
              </ul>
              {% endfor %}
              {% endif %}
              {% endif %}
            </section>
            <section id="arquivadas">
              <div class="row row-cols-1 row-cols-md-3 g-3 py-2 px-1">
                {% if vagas_arquivadas %}
                  {% for vaga in vagas_arquivadas %}
                    <div class="col">
                      <div class="card h-100 vaga">
                        <img src="{{ vaga.logo_empresa.url }}" class="card-img-top outline ar-2/1 mt-3" alt="">
                        te
                        <div class="card-body d-flex flex-column flex-wrap">
                          <h5 class="card-title">{{ vaga.nome_vaga }}</h5>
                          <ul class="hide-bullets">
                            <li>
                              <ul class="inline-list">
                                <li><i class="bi bi-building" title="Empresa"></i> {{ vaga.nome_empresa }}</li>
                                <li><i class="bi bi-geo-alt" title="Local"></i> {{ vaga.local_empresa }}</li>
                              </ul>
                            </li>
                            <li>
                              <ul class="inline-list">
                                <li><i class="bi bi-file-earmark-text" title="Tipo de contrato"></i> {{ vaga.tipo_contratacao }}</li>
                                <li><i class="bi bi-person-workspace" title="Tipo de trabalho"></i> {{ vaga.tipo_trabalho }} </li>
                              </ul>
                            </li>
                          </ul>
                          <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Dropdown link
                            </a>

                            <ul class="dropdown-menu">
                              <li><button type="button" class="btn btn-primary align-self-start mt-auto dropdown-item" data-bs-toggle="modal" data-bs-target="[data-modal-id='{{ vaga.nome_vaga }} @ {{ vaga.principais_atividades }}']">
                                Detalhes
                              </button></li>
                              <li>
                                <a href="{% url 'listar_talentos_candidatados' vaga.id %}" class="btn btn-primary align-self-start mt-auto dropdown-item">Ver Talentos</a>
                              </li>
                              <li>
                                <a href="{% url 'arquivar_vaga' vaga.id %}" class="btn btn-primary align-self-start mt-auto dropdown-item">Arquivar Vaga</a>
                              </li>
                            </ul>
                          </div>
                          {% include 'partials/modal-vaga.html' %}
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}
              </div>
            </section>
          </div>
        </div>
        {% comment %} {% include 'partials/lista-antiga--.html' %} {% endcomment %}
      </section>
    </div>
    {% include 'partials/sidebar/empresa.html' %}
  </main>
{% endblock %}