{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Início - NINNA Jobs</title>
  <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static '/css/styles.css' %}">
  <script src="{% static '/bootstrap/js/bootstrap.min.js' %}" defer></script>
  <script src="{% static '/js/jquery-2.2.4.min.js' %}" defer></script>
</head>
<body>
  <header>
    <nav class="navbar navbar-dark navbar-expand-lg">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sobre Nós</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contato</a>
            </li>
          </ul>
        </div> -->
        <a class="navbar-brand" href="#">NINNA Jobs</a>
        <div class="navbar-logo">
          <img src="../ninna_jobs/static/img/logoninna.jpg" alt="">
        </div>
      </div>
    </nav>
    <div class="top-detail">
      <img src="../ninna_jobs/static/img/top-detail.png">
    </div>
  </header>
  <main class="container">
    <div class="right-column">
      <div class="content">
        <div class="page-header">
          <h1>Vagas</h1>
          <div class="filtros">
            <form action="">
              <select name="teste1" id="">
                <option value="a0" selected disabled>Empresa</option>
                <option value="a1">empresa1</option>
                <option value="a2">empresa2</option>
                <option value="a3">empresa3</option>
                <option value="a4">empresa4</option>
              </select>
              <select name="teste2" id="">
                <option value="a0" selected disabled>Vaga</option>
                <option value="a1">vaga1</option>
                <option value="a2">vaga2</option>
                <option value="a3">vaga3</option>
                <option value="a4">vaga4</option>
              </select>
              <select name="teste3" id="">
                <option value="a0" selected disabled>Nível de experiência</option>
                <option value="a1">experiência1</option>
                <option value="a2">experiência2</option>
                <option value="a3">experiência3</option>
                <option value="a4">experiência4</option>
              </select>
            </form>
          </div>
        </div>
        <div class="vagas">
          <div class="lista-de-vagas">
            <ul>
              <li data-bs-toggle="collapse" data-bs-target=".informacoes-da-vaga" onclick="$(this).toggleClass('active')">
                <span class="informacao-de-inscricao">Aberta</span>
                <div class="vaga-wrapper">
                  <img src="{% static '../ninna_jobs/static/img/placeholder.svg' %}" alt="">
                  <div class="vaga-info">
                    <h2>nome da vaga</h2>
                    <p>
                      <span class="info info-nome"><i class="bi bi-building" title="Empresa"></i> nome da empresa</span><!-- dava pra usar `.vaga-info > p { display: flex }` também pra remover o(s) espaço(s) aqui, né?
                    --><span class="info info-local"><i class="bi bi-geo-alt" title="Local"></i> local (sistema)</span>
                    </p>
                    <p><span class="info info-informacoes"><i class="bi bi-briefcase" title="Informações"></i> informações da vaga</span></p>
                    <p>Nível exigido</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="vaga-wrapper">
                  <img src="../ninna_jobs/static/img/placeholder.svg" alt="">
                  <div class="vaga-info">
                    <h2>nome da vaga</h2>
                    <p>nome da empresa - local (sistema)</p>
                    <p>informações da vaga</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="vaga-wrapper">
                  <img src="../ninna_jobs/static/img/placeholder.svg" alt="">
                  <div class="vaga-info">
                    <h2>nome da vaga</h2>
                    <p>nome da empresa - local (sistema)</p>
                    <p>informações da vaga</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="vaga-wrapper">
                  <img src="../ninna_jobs/static/img/placeholder.svg" alt="">
                  <div class="vaga-info">
                    <h2>nome da vaga</h2>
                    <p>nome da empresa - local (sistema)</p>
                    <p>informações da vaga</p>
                  </div>
                </div>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <div class="informacoes-da-vaga collapse">
            <h2>nome da vaga</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur rerum voluptatum velit? Quos veritatis possimus fugiat id exercitationem harum, rerum natus molestias debitis modi cumque unde alias hic ipsum amet.</p>
            <button class="btn btn-primary">Fechar vaga</button>
            <a href="#" class="btn btn-secondary" title="Editar"><i class="bi bi-pencil"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="left-column">
      <div class="sidebar">
        <div class="sidebar-user mb-3">
          <img class="sidebar-avatar mb-1" src="../ninna_jobs/static/img/placeholder.svg" alt="">
          <h2 class="sidebar-name h5 text-center">Lorem, ipsum dolor</h2>
        </div>
        <div class="sidebar-content">
          <ul class="sidebar-menu">
            <li><a class="btn btn-primary" href="#" role="button">Perfil</a></li>
            <li><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cadastro-de-vaga">Cadastrar vaga</button></li>
            <li><a class="btn btn-primary" href="#" role="button">Vagas cadastradas</a></li>
            <li><a class="btn btn-primary" href="#" role="button">Vagas abertas</a></li>
            <li><a class="btn btn-primary" href="#" role="button">Vagas fechadas</a></li>
            <li><a class="btn btn-primary" href="#" role="button">Banco de talentos</a></li>
            <li><a class="btn btn-primary" href="#" role="button">Candidatos favoritados</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="modal fade" id="cadastro-de-vaga" tabindex="-1" aria-labelledby="cadastro-de-vaga-label" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cadastro-de-vaga-label">Cadastrar vaga</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-4">
            <form action="" method="post" enctype="multipart/form-data">
              <div class="row g-3 align-items-center mb-2">
                <div class="col">
                </div>
                <div class="col">
                </div>
              </div>
              <div class="row g-3 align-items-center mb-2">
                <div class="col">
                  <label class="form-label">Nome da Vaga</label>
                  <input class="form-control" type="text" name="nomevaga">
                </div>
                <div class="col">
                  <label class="form-label" for="contratacao">Tipo de Contratacao</label>
                  <select class="form-select" name="contratacao">
                    <option value="" selected>Selecione</option>
                    <option value="" selected>Selecione</option>
                    <option value="" selected>Selecione</option>
                    <option value="" selected>Selecione</option>
                  </select>
                </div>
              </div>
              <div class="row g-3 align-items-center mb-2">
                <div class="col">
                  <label class="form-label" for="perfil">Perfil do Profissional</label>
                  <select class="form-select" name="perfil">
                    <option value="" selected>Selecione</option>
                    <option value="" selected>Selecione</option>
                    <option value="" selected>Selecione</option>
                    <option value="" selected>Selecione</option>
                    <option value="" selected>Selecione</option>
                  </select>
                </div>
                <div class="col">
                  <label class="form-label">Salário</label>
                  <input class="form-control" type="number" name="salario">
                </div>
              </div>
              <div class="mb-2">
                <label class="form-label">Descrição da Vaga</label>
                <textarea class="form-control" name="descricaovaga"></textarea>
              </div>
              <div class="row g-3 align-items-center mb-2">
                <div class="col">
                  <label class="form-label">Área de Atuação</label>
                  <input class="form-control" type="text" name="atuacao">
                </div>
                <div class="col">
                  <label class="form-label" for="tipotrabalho">Tipo de trabalho</label>
                  <select class="form-select" name="tipotrabalho">
                    <option value="remoto" selected>Remoto</option>
                    <option value="presencial" selected>Presencial</option>
                    <option value="hibrido" selected>Híbrido</option>
                  </select>
                </div>
              </div>
              <div class="mb-2">
                <label class="form-label">Principais Atividades</label>
                <input class="form-control" type="text" name="atividades">
              </div>
              <div class="mb-2">
                <label class="form-label">Requisitos</label>
                <textarea class="form-control" type="text" name="requisitos"></textarea>
              </div>
              <div class="mb-2">
                <label class="form-label">Diferencial</label>
                <input class="form-control" type="text" name="diferencial">
              </div>
              <div class="mb-2">
                <label class="form-label">Beneficios</label>
                <textarea class="form-control" name="beneficios"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Descartar</button>
            <button type="submit" name="submit" class="btn btn-primary">Salvar</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
  </footer>
</body>
</html>
