{% extends 'base.html' %}
{% load static %}
{% block title %}Empresas favoritadas{% endblock %}
{% block head %}
  <script src="{% static 'js/tabber.js' %}" defer></script>
  <link rel="stylesheet" href="{% static 'css/tabber.css' %}">
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  {% endblock %}
{% block body_class %}page-dashboard{% endblock %}
{% block content %}
  <main class="container">
    <div class="right-column">
      <section class="content">
        <header class="page-header">
          <h1>Empresas favoritadas</h1>
          <form method='GET' action="{% url 'buscar' %}" class="filtros">
            <div class="form-group input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
              <input name="busca/empresas/favoritadas" id="txt_pesquisa" placeholder="Pesquisar" type="search" class="form-control">
            </div>
          </form>
        </header>
        <section>
          {% if empresas_favoritadas and dados_empresas_favoritadas %}
          {% for empresa_fav in empresas_favoritadas %}
          <div class="row">
            <div class="col-md-3 mb-3">
              <div class="card" style="width: 18rem;">
                {% for e in empresa %}
                {% if e.user == empresa_fav %}
                <img src="{{ e.img_perfil_empresa.url }}" class="card-img-top" alt="...">
                {% endif %}
                {% endfor %}
                <div class="card-body">
                  {% for e in empresa %}
                  {% if e.user == empresa_fav %}
                  <h5 class="card-title"><i class="bi bi-building"></i>{{e.nome_fantasia}}({{ empresa_fav.username }})</h5>
                  {% endif %}
                  {% endfor %}
                  <div class="d-flex justify-content-between">
                    <div class="dropdown-center">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Informações
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'ver_perfil_empresa' empresa_fav.id %}">Perfil</a></li>
                      </ul>
                    </div>
                    <a href="{% url 'favoritar_empresa' empresa_fav.id %}">
                    <button type="button" class="float-right bg-transparent border-0"><i class="bi bi-star-fill"></i></button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endif %}
          <!-- ##### Pagination ##### -->
          <section class="top-catagory-area section-padding-20-0">
            <div class="container">
                {% if empresas_favoritadas.has_other_pages %}
                <ul class="pagination">
                    {% if empresas_favoritadas.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ empresas_favoritadas.previous_page_number }}" class="page-link">&laquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&laquo;</a>
                    </li>
                    {% endif %}
                    {% for pagina in empresas_favoritadas.paginator.page_range %}
                    {% if empresas_favoritadas.number == pagina %}
                    <li class="page-item active">
                        <a class="page-link">{{ pagina }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a href="?page={{ pagina }}" class="page-link">{{ pagina }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if empresas_favoritadas.has_next %}
                    <li class="page-item">
                        <a href="?page={{ empresas_favoritadas.next_page_number }}" class="page-link">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&raquo;</a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
          </section>
    </div>
    {% include 'partials/sidebar/candidato.html' %}
  </main>
{% endblock %}