{% extends 'base.html' %}
{% load static %}
{% block title %}Vagas lançadas{% endblock %}
{% block head %}
  <script src="{% static 'js/tabber.js' %}" defer></script>
  <link rel="stylesheet" href="{% static 'css/tabber.css' %}">
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block body_class %}page-dashboard{% endblock %}
{% block content %}
  <main class="container">
    <div class="right-column">
      <section class="content">
        <header class="page-header">
          <h1>Vagas lançadas</h1>
          <form method='GET' action="{% url 'bempresa' %}" class="filtros">
            <div class="form-group input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
              <input name="bempresa" id="txt_pesquisa" placeholder="Pesquisar" type="search" class="form-control">
            </div>
          </form>
          <!--<form action="" class="filtros">
            <select name="teste1" id="">
              <option value="a0" selected disabled>Empresa</option>
              <option value="a1">empresa1</option>
              <option value="a2">empresa2</option>
              <option value="a3">empresa3</option>
              <option value="a4">empresa4</option>
            </select>
            <select name="teste2" id="">
              <option value="a0" selected disabled>Vaga</option>
              <option value="a1">vaga1</option>
              <option value="a2">vaga2</option>
              <option value="a3">vaga3</option>
              <option value="a4">vaga4</option>
            </select>
            <select name="teste3" id="">
              <option value="a0" selected disabled>Nível de experiência</option>
              <option value="a1">experiência1</option>
              <option value="a2">experiência2</option>
              <option value="a3">experiência3</option>
              <option value="a4">experiência4</option>
            </select>
          </form>-->
        </header>
        <div class="tabber">
          <div class="tabber__tabs">
            <button type="button" class="tabber__tab active">Abertas</button>
            <button type="button" class="tabber__tab">Favoritadas</button>
            <button type="button" class="tabber__tab">Arquivadas</button>
          </div>
          {% include 'partials/_alertas.html' %}
          <div class="tabber__content">
            <section id="abertas" class="active">
              <div class="row row-cols-1 row-cols-md-3 g-3 py-2 px-1">
                {% if vagas %}
                  {% for vaga in vagas %}
                    <div class="col">
                      <div class="card h-100 vaga">
                        <img src="{{ vaga.logo_empresa.url }}" class="card-img-top outline ar-2/1 mt-3" alt="">
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title">{{ vaga.nome_vaga }}</h5>
                          <ul class="hide-bullets">
                            <li>
                              <ul class="inline-list">
                                <li><i class="bi bi-building" title="Empresa"></i> {{ vaga.nome_empresa }}</li>
                                <li><i class="bi bi-geo-alt" title="Local"></i> {{ vaga.local_empresa }}</li>
                              </ul>
                            </li>
                            <li>
                              <ul class="inline-list">
                                <li><i class="bi bi-file-earmark-text" title="Tipo de contrato"></i> {{ vaga.tipo_contratacao }}</li>
                                <li><i class="bi bi-person-workspace" title="Tipo de trabalho"></i> {{ vaga.tipo_trabalho }} </li>
                              </ul>
                            </li>
                          </ul>
                          <button type="button" class="btn btn-primary align-self-start mt-auto" data-bs-toggle="modal" data-bs-target="[data-modal-id='{{ vaga.nome_vaga }} @ {{ vaga.principais_atividades }}']">
                            Detalhes
                          </button>
                          <a href="{% url 'listar_talentos_candidatados' vaga.id %}" class="btn btn-primary align-self-start mt-auto">Ver Talentos</a>
                          <a href="{% url 'arquivar_vaga' vaga.id %}" class="btn btn-primary align-self-start mt-auto">Arquivar Vaga</a>
                          </div>
                          {% include 'partials/modal-vaga.html' %}
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}
              </div>
            </section>
            <section id="favoritadas">

            </section>
            <section id="arquivadas">
              <div class="row row-cols-1 row-cols-md-3 g-3 py-2 px-1">
                {% if vagas_arquivadas %}
                  {% for vaga in vagas_arquivadas %}
                    <div class="col">
                      <div class="card h-100 vaga">
                        <img src="{{ vaga.logo_empresa.url }}" class="card-img-top outline ar-2/1 mt-3" alt="">
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title">{{ vaga.nome_vaga }}</h5>
                          <ul class="hide-bullets">
                            <li>
                              <ul class="inline-list">
                                <li><i class="bi bi-building" title="Empresa"></i> {{ vaga.nome_empresa }}</li>
                                <li><i class="bi bi-geo-alt" title="Local"></i> {{ vaga.local_empresa }}</li>
                              </ul>
                            </li>
                            <li>
                              <ul class="inline-list">
                                <li><i class="bi bi-file-earmark-text" title="Tipo de contrato"></i> {{ vaga.tipo_contratacao }}</li>
                                <li><i class="bi bi-person-workspace" title="Tipo de trabalho"></i> {{ vaga.tipo_trabalho }} </li>
                              </ul>
                            </li>
                          </ul>
                          <button type="button" class="btn btn-primary align-self-start mt-auto" data-bs-toggle="modal" data-bs-target="[data-modal-id='{{ vaga.nome_vaga }} @ {{ vaga.principais_atividades }}']">
                            Detalhes
                          </button>
                          <a href="{% url 'listar_talentos_candidatados' vaga.id %}" class="btn btn-primary align-self-start mt-auto">Ver Talentos</a>
                          <a href="{% url 'arquivar_vaga' vaga.id %}" class="btn btn-primary align-self-start mt-auto">Desarquivar Vaga</a>
                          </div>
                          {% include 'partials/modal-vaga.html' %}
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}
              </div>
            </section>
          </div>
        </div>
        {% comment %} {% include 'partials/lista-antiga--.html' %} {% endcomment %}
      </section>
    </div>
    {% include 'partials/sidebar/empresa.html' %}
  </main>
{% endblock %}