{% load static %}
<footer class="site-footer">
  <div class="top-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="col-md-8 col-sm-8 col-xs-12">
            <p>Copyright &copy; 2022 NINNA Jobs</p>
          </div> <!-- /.col-md-6 -->
        </div> <!-- /.col-md-6 -->
        <div class="col-md-6 col-sm-6">
          <div class="right-header text-right">
            <ul class="social">
              <li><a href="#"><i class="bi bi-instagram"></i></a></li>
              <li><a href="#"><i class="bi bi-youtube"></i></a></li>
              <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
            </ul>
          </div> <!-- /.left-header -->
        </div> <!-- /.col-md-6 -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div>
</footer>