{% extends 'base.html' %}
{% load static %}
{% block title %}Cadastro Empresa{% endblock %}
{% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/formempresa.css' %}">
    <script src="{% static 'js/dist/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/dist/jquery..js' %}"></script>
    <script src="{% static 'js/dist/additional-methods.min.js' %}"></script>
    <script src="{% static 'js/validarCnpj.js' %}"></script>
    <style>
        .foto-perfil{
            border-radius: 50%;
            width:200px;
            height:200px;
            background-image: url("/static/img/avatar.svg");
            background-size: cover;
        }
    </style>
{% endblock %}
{% block body_class %}page-dashboard{% endblock %}
{% block content %}
    <div class="content">
        <h1 class="display-6 text-center titulo">Cadastro - <strong>Empresa</strong></h1>
        <div class="containerFormEmpresa p-5">
            {% if not empresas %}
            <form id="formEmp" action="{% url 'registro' %}" class="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="py-2 d-flex align-items-center justify-content-around">
                    <img id="blah"class="foto-perfil" src="{% static 'img/placeholder.svg' %}">
                    <div>
                        <label for="imgperfil" class="form-label">Foto do perfil <span class="picture__image"></span></label>
                        <input id="imgInp" name="img_perfil_empresa" type="file" class="form-control" accept="image/*" required>
                    </div>
                </div>
                <div class="py-2 row">
                    <label for="nomeFantasia" class="form-label">Nome Fantasia</label>
                    <input name="nome_fantasia" type="text" class="form-control" id="nomefantasia" required>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label for="razaosocial" class="form-label">Razão Social</label>
                        <input name="razao_social" type="text" class="form-control" id="razaosocial" required>
                    </div>
                    <div class="col-md-4">
                        <label for="cnpj" class="form-label">CNPJ</label>
                        <input name="cnpj" type="text" class="form-control" id="cnpj" maxlength='15' required>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-md-6">
                        <label for="telefone" class="form-label">Telefone</label>
                        <input type="number" name="telefone" class="form-control" id="telefone" name="telefone" placeholder="(XX)XXXXXXXXX" required>
                    </div>
                    <div class="col-md-6">
                        <label for="celular" class="form-label">Celular</label>
                        <input name="celular" type="tel" class="form-control" id="celular" placeholder="(XX)XXXX-XXXXX" required>
                    </div>
                </div>
                <div class="row py-1">
                    <div class="col-md-6">
                        <label for="cep" class="form-label">Cep</label>
                        <input type="text" name="cep" class="form-control" id="cep" required>
                    </div>
                    <div class="col-md-6">
                        <label for="" class="form-label">Ramo de atividade</label>
                        <select class="form-select" name="ramo_de_atividade" required aria-label="selecione uma opção">
                            <option value="Informatica">Informática</option>
                            <option value="Economia">Economia</option>
                            <option value="Saúde">Saúde</option>
                        </select>
                    </div>
                </div>
                <div class="py-2">
                    <label for="floatingTextarea">Uma breve historia sobre a empresa</label>
                    <textarea class="form-control" placeholder="Sobre a empresa" id="floatingTextarea" style="height: 100px" name="descricao_empresa" maxlength='1000' required></textarea>
                </div>
            {% else %}
            <form id="formEmp" action="{% url 'editar_registro' %}" class="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!--********************** FOTO DO PERFIL ***************************-->
                <label for="file"><b>Foto utilizada</b></label>
                <div class="col-md-12 py-2 d-flex align-items-center justify-content-around">
                    <img class="foto-perfil" src="{{ empresas.img_perfil_empresa.url }}">
                    <div>
                        <label for="file"><b>Mudar foto do perfil</b></label>
                        <input class="form-control" name="img_perfil_empresa" type="file" class"" id="logoStartup" accept="image/*">
                    </div>
                </div>
                <!--********************** NOME FANTASIA ***************************-->
                <div class="py-2 row">
                    <label for="nomeFantasia" class="form-label">Nome Fantasia</label>
                    <input name="nome_fantasia" type="text" class="form-control" id="nomefantasia" maxlength='100' value='{{empresas.nome_fantasia}}' required>
                </div>
                <!--********************** RAZAO SOCIAL E CNPJ ***************************-->
                <div class="row">
                    <div class="col-md-8">
                        <label for="razaosocial" class="form-label">Razão Social</label>
                        <input name="razao_social" type="text" class="form-control" id="razaosocial" maxlength='100' value='{{empresas.razao_social}}' required>
                    </div>
                    <div class="col-md-4">
                        <label for="cnpj" class="form-label">CNPJ</label>
                        <input name="cnpj" type="text" class="form-control" id="cnpj" maxlength='15' value='{{empresas.cnpj}}' required>
                    </div>
                </div>
                <!--********************** TELEFONE E CELULAR ***************************-->
                <div class="row py-2">
                    <div class="col-md-6">
                        <label for="telefone" class="form-label">Telefone</label>
                        <input type="number" name="telefone" class="form-control" id="telefone" name="telefone" value='{{empresas.telefone}}' placeholder="(XX)XXXX-XXXXX" required>
                        <div class="invalid-feedback">
                            Informe um telefone valido.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="celular" class="form-label">Celular</label>
                        <input name="celular" type="tel" class="form-control" id="celular" value='{{empresas.celular}}' placeholder="(XX)XXXX-XXXXX" required>
                        <div class="valid-feedback">
                            Tudo ok!
                        </div>
                    </div>
                </div>
                <!--********************** CEP E RAMO DE ATIVIDADE ***************************-->
                <div class="row py-1">
                    <div class="col-md-6">
                        <label for="cep" class="form-label">Cep</label>
                        <input type="text" name="cep" class="form-control" id="cep" maxlength='15' value='{{empresas.cep}}' required>
                    </div>
                    <div class="col-md-6">
                        <label for="" class="form-label">Ramo de atividade</label>
                        <select class="form-select" name="ramo_de_atividade" required aria-label="selecione uma opção">
                            <option value='{{empresas.ramo_de_atividade}}' selected>{{empresas.ramo_de_atividade}}</option>
                            <option value="Informatica">Informática</option>
                            <option value="Economia">Economia</option>
                            <option value="Saúde">Saúde</option>
                        </select>
                    </div>
                </div>
                <!--********************** SOBRE A EMPRESA ***************************-->
                <div class="py-2">
                    <textarea class="form-control" placeholder="Sobre a empresa" id="floatingTextarea" style="height: 100px" name="descricao_empresa" maxlength='1000' required>{{empresas.descricao_empresa}}</textarea>
                    <label for="floatingTextarea">Uma breve historia sobre a empresa</label>
                </div>
                {% endif %}
                <div class="d-flex justify-content-end p-5">
                    <div>
                        <button class="btn botaoenviarformempresa" type="submit" name="enviarFormEmpresa" id="submit">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        imgInp.onchange = evt => {
            const [file] = imgInp.files
            if (file) {
                blah.src = URL.createObjectURL(file)
                blah.style.maskImage = 'none'
            }
        }
    </script>
<div class="step" id="step_2">
</div>
{% endblock %}