<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://kit.fontawesome.com/dfcc59a893.js" crossorigin="anonymous"></script>
    <title>NinnaJobs - Admin Dashboard </title>
  </head>
  <body>
    {% include 'partials/header.html' %}
    <!-- top navigation bar -->
    <!-- offcanvas -->
    <div
      class="offcanvas offcanvas-start sidebar-nav bg-dark"
      tabindex="-1"
      id="sidebar"
    >
      <div class="offcanvas-body p-0">
        <nav class="navbar-dark">
          <ul class="navbar-nav">
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3">
                NinnaJobs
              </div>
            </li>
            <li>
              <div class="sidebar-user">
                <img src="images/imagem2.png" class="img-fluid rounded-circle mb-2" alt="Linda Miller">
                <div class="">Gabi</div>
                <small>Admin 1</small>
              </div>
            </li>
            <li>
              <a href="#" class="nav-link px-3 active">
                <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                <span>Admin - Dashboard</span>
              </a>
            </li>
            <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                Relatorios
              </div>
            </li>
            <li>
              <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#usuarios">
                <span class="me-2"><i class="bi bi-layout-split"></i></span>
                <span>Usuarios</span>
                <span class="ms-auto">
                  <span class="right-icon">
                    <i class="bi bi-chevron-down"></i>
                  </span>
                </span>
              </a>
              <div class="collapse" id="usuarios">
                <ul class="navbar-nav ps-3">
                  <li>
                    <a href="#" class="nav-link px-3">
                      <span class="me-2"><i class="bi bi-building"></i></span>
                      <span>Empresas</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link px-3">
                      <span class="me-2"><i class="bi bi-people"></i></span>
                      <span>Talentos</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-briefcase"></i></span>
                <span>Vagas</span>
              </a>
            </li>
            <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                Mais Informações
              </div>
            </li>
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-graph-up"></i></span>
                <span>Gráficos</span>
              </a>
            </li>
            <li>
              <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#acoes">
                <span class="me-2"><i class="bi bi-cursor"></i></span>
                <span>Ações</span>
                <span class="ms-auto">
                  <span class="right-icon">
                    <i class="bi bi-chevron-down"></i>
                  </span>
                </span>
              </a>
              <div class="collapse" id="acoes">
                <ul class="navbar-nav ps-3">
                  <li>
                    <a href="acoesEmpresa.html" class="nav-link px-3">
                      <span class="me-2"><i class="bi bi-building"></i></span>
                      <span>Empresas</span>
                    </a>
                  </li>
                  <li>
                    <a href="acoesTalento.html" class="nav-link px-3">
                      <span class="me-2"><i class="bi bi-people"></i></span>
                      <span>Talentos</span>
                    </a>
                  </li>
                  <li>
                    <a href="acoesadmin.html" class="nav-link px-3">
                    <a href="acoesadmin.html" class="nav-link px-3">
                      <span class="me-2"><i class="bi bi-gear"></i></span>
                      <span>Admin</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- offcanvas -->
    <main class="mt-5 pt-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Gráficos</h1>
          </div>
        </div>
        <div class="row">
          <!--Graficos usuarios cadastrados e nivel de talentos-->
          <div class="row col">
            <div class="col-md-6 mb-3">
              <div class="card h-100">
                <div class="card-header">
                  <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                  Usuarios cadastrados
                </div>
                <div class="card-body">
                  <canvas class="totalusuarios" width="400" height="200"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="card h-100">
                <div class="card-header">
                  <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                  Nivel dos Talentos
                </div>
                <div class="card-body">
                  <canvas class="niveltalento" width="400" height="200"></canvas>
                </div>
              </div>
            </div>
          </div>
          <!--Cartões com informações sobre numeros de usuarios, vagas disponiveis, numero de matchs-->
          <div class="row col">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col mt-0">
                      <h5 class="card-title">Total de usuarios cadastratos</h5>
                    </div>
                    <div class="col-auto">
                      <div class="avatar">
                        <div class="avatar-title rounded-circle bg-primary-dark">
                          <i class="fa-solid fa-users"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h1 class="display-5 mt-1 mb-3">00</h1>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col mt-0">
                      <h5 class="card-title">Número de matches</h5>
                    </div>
                    <div class="col-auto">
                      <div class="avatar">
                        <div class="avatar-title rounded-circle bg-primary-dark">
                          <i class="fa-sharp fa-solid fa-handshake"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h1 class="display-5 mt-1 mb-3">00</h1>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col mt-0">
                      <h5 class="card-title">Vagas ativas</h5>
                    </div>
                    <div class="col-auto">
                      <div class="avatar">
                        <div class="avatar-title rounded-circle bg-primary-dark">
                          <i class="fa-solid fa-briefcase"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h1 class="display-5 mt-1 mb-3">00</h1>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col mt-0">
                      <h5 class="card-title">Total de empresas cadastradas</h5>
                    </div>
                    <div class="col-auto">
                      <div class="avatar">
                        <div class="avatar-title rounded-circle bg-primary-dark">
                          <i class="fa-sharp fa-solid fa-building"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h1 class="display-5 mt-1 mb-3">00</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </main>
    <script src="../node_modules/chart.js/dist/chart.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script src="./js/jquery-3.5.1.js"></script>
    <script src="./js/jquery.dataTables.min.js"></script>
    <script src="./js/dataTables.bootstrap5.min.js"></script>
    <script src="./js/script.js"></script>
  </body>
</html>
