{% extends 'base.html' %}
{% load static %}
{% block title %}Minhas vagas{% endblock %}
{% block head %}

{% endblock %}
{% block body_class %}page-dashboard{% endblock %}
{% block content %}
{% include 'partials/_alertas.html' %}


<main class="container">
  <div class="right-column">
    <div class="content">
      <ul class="w3-ul w3-card-4">
        {% if not user.funcao == "CAN" %}
        {% for d in dados %}
        <li class="w3-bar">
            <img src="{{ d.imagem_perfil.url }}" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
            <div class="w3-bar-item">
                <span class="w3-large">{{d.nome_do_candidato}}</span><br>

                {% for i in info %}
                {% if i.user == d.user %}
                <p>
                <span>Area de atuação:{{i.areas_interesse}}</span>
                </p>
                {% endif %}
                {% endfor %}
                {% for f in form %}
                {% if f.user == d.user %}
                <p>
                <span>Formação academica:{{f.formacao}}|</span>
                <span>curso:{{f.curso}}|</span>
                </p>
                {% endif %}
                {% endfor %}
              </div>
            </li>
            {% for talento in lista_de_talentos %}
            {% if talento == d.user %}
            <a href="{% url 'exibir_perfil_do_talento_candidatado' talento.id %}" type="button" class="btn btn-primary">Ver perfil completo do talento</a>
            {% endif %}
            {% endfor %}
        <p></p>
        <hr>
        {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
</main>

{% endblock %}