{% extends 'base.html' %}
{% load static %}
{% block title %}Minhas vagas{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block body_class %}page-dashboard{% endblock %}
{% block content %}
{% include 'partials/_alertas.html' %}
<main class="container">
  <div class="right-column">
    <div class="content">
      <h3>Total de talentos candidatados:{{ numero_de_candidatos }}</h3>
      {% if not user.funcao == "CAN" %}
      {% for d in dados %}
      <ul class="w3-ul w3-card-4 shadow-lg p-2 mb-2 bg-body rounded">
        {% include 'partials/botao-fav.html' %}
        <a href="{% url 'perfil_candidato' d.user.id %}"><span class="w3-bar-item w3-button w3-white w3-xlarge w3-right"><i class="bi bi-file-earmark-person"></i><span></a>
        <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
        <li class="d-flex">
            <img src="{{ d.imagem_perfil.url }}" class="sidebar-avatar my-3 mx-1">
            <div class="my-auto mx-1">
                <span class="fs-4">{{d.nome_do_candidato}}({{d.user.username}})</span><br>
                <div class="d-flex flex-wrap">
                  {% for i in info %}
                  {% if i.user == d.user %}
                    <p class="mx-1 my-1">Area de atuação: {{i.areas_interesse}}</p>
                  {% endif %}
                  {% endfor %}
                  {% for f in form %}
                  {% if f.user == d.user %}
                    <p class="mx-1 my-1">Formação academica: {{f.formacao}}</p>
                    <p class="mx-1 my-1">curso: {{f.curso}}</p>
                  {% endif %}
                  {% endfor %}
                </div>
            </div>
        </li>
    </ul>
      {% endfor %}
      {% endif %}
      {% include 'partials/_paginacao.html' %}
    </div>
  </div>
  {% include 'partials/sidebar/empresa.html' %}
</main>
{% endblock %}