    {% extends 'base.html' %}
    {% load static %}
    {% block title %}Perfil{% endblock %}
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
    {% endblock %}
    {% block body_class %}page-profile{% endblock %}
    {% block content %}
    <main class="container">
        <div class="right-column">
        <div class="content">
            <div class="profile-box">
            {% if Dados %}
            {% for dado in Dados %}
            <img src="{{ dado.imagem_perfil.url }}" alt="" class="sidebar-avatar">
            <h2 class="profile-name">{{ dado.nome_do_candidato }}</h2>
            {% endfor %}
            {% else %}
            <img src="{% static 'img/placeholder.svg' %}" alt="" class="sidebar-avatar">
            <h2 class="profile-name">{{ user.username }}</h2>
            {% endif %}
            <div class="redesocial">
                {% for i in Informacoes %}
                {% if i.linkedin %}
                <a title="Linkedin" class="linklinkedin" href="{{i.linkedin}}"><i class="bi bi-linkedin m-2 azul"></i></a>
                {% endif %}
                {% endfor %}
                {% for dados in Dados %}
                {% if dados and dados.whatsapp == "Sim" %}
                <a class="linkwapp" href="https://wa.me/{{dados.telefone}}"><i class="bi bi-whatsapp m-2"></i></a>
                {% endif %}
                {% endfor %}
                <a href="mailto:{{user.email}}?subject=Parabéns%20Você%20Foi%20Pré%20Selecionado"><i class="bi bi-envelope"></i></a>
            </div>
            <div class="div-enviar-mensagem">
            {% if not user.funcao == "CAN" %}
                <div class="dropdown">
                    <button class="btn bt-enviar btn-outline-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-send aviao"></i><p class="msg-btn-enviar">Quero conversar</p></button>
                    <ul class="dropdown-menu"><li>
                        <form action="http://formmail.kinghost.net/formmail.cgi" method="POST">
                            <input type="hidden" name="recipient" value="{{userC.email}}"> <!-- Pode ser qualquer endereço de email -->
                            <input type="hidden" name="redirect" value="localhost:8000"> <!-- Após o envio, o usuário será redirecionado para a página configurada aqui -->
                            <input type="hidden" name="subject" value="Empresa quer Conversar">  <!-- Assunto da mensagem -->
                            <input type="hidden" name="email" value="{{user.email}}">   <!-- Deve ser uma conta de email ativa em seu domínio -->
                            <p>
                            Nome:<br/>
                            <input type="text" size="30" name="nome" value='{{user.username}}'>
                            </p>
                            <p>
                            E-mail:<br />
                            <input type="text" size="30" name="replyto" value='{{user.email}}'>
                            </p>
                            <p>
                            Comentários:<br />
                            <input type="text" size="35" name="Comentarios">
                            </p>
                            <p>
                            <input type="submit" name="BTEnvia" value="Enviar">
                            <input type="reset" name="BTApaga" value="Apagar"> </p>
                        </form>
                    </li></ul>
                </div>
            {% endif %}
                <div class='right-column'>
                {% if Informacoes %}
                {% for I in Informacoes %}
                <a href="{{I.curriculo.url}}" type="button" class="btn btn-primary baixar" title="Baixar curriculo" download>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M3.5 10a.5.5 0 0 1-.5-.5v-8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 0 0 1h2A1.5 1.5 0 0 0 14 9.5v-8A1.5 1.5 0 0 0 12.5 0h-9A1.5 1.5 0 0 0 2 1.5v8A1.5 1.5 0 0 0 3.5 11h2a.5.5 0 0 0 0-1h-2z"/>
                        <path fill-rule="evenodd" d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
                </a>
                {% endfor %}
                {% endif %}
                {% if request.user.funcao == 'EMP' %}
                {% if Dados %}
                {% for dado in Dados %}
                <button title="Favoritar" type="button" class="btn btn-primary" title="Favoritar">
                    {% if dado.user in ids_dos_talentos_favoritados %}
                    <a href="{% url 'favoritar_talento' dado.user.id %}" class="w3-bar-item w3-button w3-white w3-xlarge w3-right"><i class="bi bi-star-fill"></i></span>
                    {% else %}
                    <a href="{% url 'favoritar_talento' dado.user.id %}" class="w3-bar-item w3-button w3-white w3-xlarge w3-right"><i class="bi bi-star"></i></span>
                    {% endif %}
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16" > -->
                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"></path>
                    </svg>
                </button>
                {% endfor %}
                {% endif %}
                {% endif %}
                </div>
            </div>
            </div>
            {% for dado in Dados %}
            {% if dado.sobre_candidato %}
            <div>
                <div class="div-sobre">
                    <div class="secaoperfil py-4">
                    <h3 class="tituloperfil">Sobre</h3>
                    <span class="spanperfil mb-4"></span>
                    <p>{{dado.sobre_candidato}}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <div class="div-informacoes">
                {% if Informacoes %}
                <div class="secaoperfil py-4">
                    <h3 class="tituloperfil">Principais areas de atuação</h3>
                    <span class="spanperfil mb-4"></span>
                    <div class="row">
                    {% for info in Informacoes %}
                    <p class="col">{{info.areas_interesse}}</p>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% if Informacoes %}
                <div class="secaoperfil py-4">
                    <h3 class="tituloperfil">Disponibilidade</h3>
                    <span class="spanperfil mb-4"></span>
                    <div class="row">
                    {% for info in Informacoes %}
                    {% if info.estagio %}
                    <p class="col">{{info.estagio}}</p>
                    {% endif %}
                    {% if info.pj %}
                    <p class="col">{{info.pj}}</p>
                    {% endif %}
                    {% if info.clt %}
                    <p class="col">{{info.clt}}</p>
                    {% endif %}
                    {% if info.flex %}
                    <p class="col">{{info.flex}}</p>
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% if Dados %}
                <div class="secaoperfil py-4">
                    <h3 class="tituloperfil">Dados Pessoais</h3>
                    <span class="spanperfil mb-4"></span>
                    <div class="row">
                    {% for dado in Dados %}
                        <p class="col">Data de Nascimento:{{dado.data_nascimento}}</p>
                        <p class="col">Genero:{{dado.genero}}</p>
                    </div>
                    <div class="row">
                        <p class="col">Cidade: {{dado.cidade}}</p>
                        <p class="col">Estado: {{dado.estado}}</p>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% if Experiencia %}
                <div class="secaoperfil py-4">
                    <h3 class="tituloperfil">Experiencia Profissional</h3>
                    <span class="spanperfil mb-4"></span>
                    {% for exp in Experiencia %}
                    <div class="row">
                        <p class="col">Empresa: {{exp.empresa_onde_trabalhou}}</p>
                        <p class="col">Cargo: {{exp.cargo_exercido}}</p>
                    </div>
                    <p>{{exp.descricao_de_atividades}}</p>
                    <div class="row">
                        <p class="col">Inicio: {{exp.inicio_emprego}}</p>
                        <p class="col">Saida: {{exp.demissao}}</p>
                        <p class="col">Estado do Emprego: {{exp.emprego_atual}}</p>
                    </div>
                    <div class="secaoperfil py-4"></div>
                    {% endfor %}
                </div>
                {% endif %}
                {% if Formacao %}
                <div class="secaoperfil py-4">
                    <h3 class="tituloperfil">Formação Academica</h3>
                    <span class="spanperfil mb-4"></span>
                    {% for form in Formacao %}
                    <div class="row">
                        <p class="col">Instituição: {{form.instituicao_ensino}} </p>
                        <p class="col">Formação: {{form.formacao}}</p>
                        <p class="col">Curso: {{form.curso}}</p>
                    </div>
                    <div class="row">
                        <p class="col">Inicio: {{form.data_inicio}}</p>
                        <p class="col">Conclusão/Previsão: {{form.data_termino}}</p>
                    </div>
                    <div class="secaoperfil py-4"></div>
                    {% endfor %}
                </div>
                {% endif %}
                {% if Idiomas %}
                <div class="secaoperfil py-4">
                    <h3 class="tituloperfil">Idiomas</h3>
                    <span class="spanperfil mb-4"></span>
                    {% for idioma in Idiomas %}
                    <div class="row">
                        <p class="col">Idioma: {{idioma.idioma}} </p>
                        <p class="col">Nivel: {{idioma.nivel_idioma}}</p>
                    </div>
                    <div class="secaoperfil py-4"></div>
                    {% endfor %}
                </div>
                {% endif %}
                {% if Certificados %}
                <div class="secaoperfil py-4">
                    <h3>Certificados e Conquistas</h3>
                    <span class="spanperfil mb-4"></span>
                    {% for certificados in Certificados %}
                    <div class="row">
                        <p class="col">Titulo: {{certificados.titulo}}</p>
                        <p class="col">Tipo: {{certificados.tipo_conquista}}</p>
                    </div>
                    <p>{{certificados.descricao_conquista}}</p>
                    <div class="secaoperfil py-4"></div>
                    {% endfor %}
                </div>
                {% endif %}
                </div>
            </div>

        </div>
        </div>
        <!--<div class="left-column">
        <div class="sidebar">
            <div class="sidebar-user mb-3">
            <img class="sidebar-avatar mb-1" src="{% static 'img/placeholder.svg' %}" alt="">
            <h2 class="sidebar-name h5 text-center">Lorem, ipsum dolor</h2>
            </div>
            <div class="sidebar-content">
            <ul class="sidebar-menu">
                <li><a class="btn btn-primary" href="#" role="button">Perfil</a></li>
                <! <li><a class="btn btn-primary" href="#" role="button">Candidaturas feitas</a></li>
                <li><a class="btn btn-primary" href="salvas.html" role="button">Vagas salvas</a></li> >
                <li><a class="btn btn-primary" href="{% url 'arquivadas' %}" role="button">Minhas vagas</a></li>
                <li><a class="btn btn-primary" href="#" role="button">Ofertas recebidas</a></li>
            </ul>
            </div>
        </div>
        </div>-->
        <div class="modal" id="modal">
        <div class="modal-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur pariatur veniam! cu</p>
        </div>
        </div>
    </main>
    {% endblock %}