
{% extends 'base.html' %}
{% load static %}
{% block title %}Perfil empresa{% endblock %}
{% block head %}
  <script src="{% static 'js/tabber.js' %}" defer></script>
  <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
  <link rel="stylesheet" href="{% static 'css/tabber.css' %}">
{% endblock %}
{% block body_class %}page-profile{% endblock %}
{% block content %}
  <main class="p-2 position-relative">
    <a class="text-white bg-opacity-75" href=""><i class="bi bi-chevron-left bg-sucess"></i></a>
    <div class="position-sticky top-50 end-0 botaoContatoperfil w-25">
      <ul id="abaredes">
        <li class="nav-item py-2">
          <a class="nav-link" href="#"><i class="bi bi-whatsapp"></i></a>
        </li>
        <li class="nav-item py-1">
          <a class="nav-link" href="#"><i class="bi bi-linkedin"></i></a>
        </li>
        <li class="nav-item py-1">
          <a class="nav-link" href="#"><i class="bi bi-envelope"></i></a>
        </li>
        <li class="nav-item py-1">
          <button class="botaofavEmpresa"><i class="bi bi-star"></i></button>
        </li>
      </ul>
    </div>
    <div class="bg-light w-75 position-relative m-auto p-5">
      <img src="{% static 'img/placeholder.svg' %}" alt="" class="sidebar-avatar avatar-empresa rounded-circle position-absolute top-0 start-50 translate-middle">
      <h2 class="text-center p-5 mt-3">Nome Da Empresa</h2>
      <div class="tabber p-4">
        <div class="tabber__tabs p-3">
          <button type="button" class="tabber__tab active h4">Sobre</button>
          <button type="button" class="tabber__tab h4">Vagas</button>
        </div>
        <div class="tabber__content p-5">
          <section id="sobre" class="active px-5">
            <p class="h6 lh-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ducimus magnam minima? Quo recusandae autem ea nobis accusamus! Ipsa dolore impedit alias! Dolores laudantium a sit at quia ea consequatur.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus cum molestias perspiciatis inventore sapiente earum debitis aliquid tempore totam, quis quo! Optio ut obcaecati numquam ratione voluptas laborum nemo ad!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae officiis facilis quis alias delectus iste quaerat rerum corporis. Veniam earum blanditiis tempora culpa commodi maiores nostrum? Cumque qui minus dicta.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet praesentium, velit quasi fuga quaerat quos perspiciatis numquam impedit doloribus enim maxime nisi porro natus facilis explicabo fugit. Labore, sed iure?

              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ab id velit tempore cum quo necessitatibus aperiam ducimus, illo amet excepturi ad perspiciatis aliquam, nostrum quas eveniet vel maiores nemo?
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam praesentium hic maxime delectus sequi repellat eius laboriosam, non excepturi dolores, blanditiis rerum ut, mollitia aspernatur! Illo consequatur quae soluta ab!
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo ut quia corrupti nam? Ipsum, perferendis sunt facilis fugiat laboriosam recusandae nulla, qui laborum a beatae perspiciatis assumenda odit amet exercitationem.
            </p>
          </section>
          <section id="vagas" class="p-5">
            <div class="row row-cols-1 row-cols-md-3 g-3 py-2 px-1">
              {% if vagas %}
              {% for vaga in vagas %}
                  <div class="col">
                      <div class="card h-100 vaga">
                          <img src="{{ vaga.logo_empresa.url }}" class="card-img-top outline ar-2/1 mt-3" alt="">
                          <div class="card-body d-flex flex-column">
                              <h5 class="card-title">{{ vaga.nome_vaga }}</h5>
                              <ul class="hide-bullets">
                                  <li>
                                      <ul class="inline-list">
                                          <li><i class="bi bi-building" title="Empresa"></i> {{ vaga.nome_empresa }}</li>
                                          <li><i class="bi bi-geo-alt" title="Local"></i> {{ vaga.local_empresa }}</li>
                                      </ul>
                                  </li>
                                  <li>
                                      <ul class="inline-list">
                                          <li><i class="bi bi-file-earmark-text" title="Tipo de contrato"></i> {{ vaga.tipo_contratacao }}</li>
                                          <li><i class="bi bi-person-workspace" title="Tipo de trabalho"></i> {{ vaga.tipo_trabalho }} </li>
                                      </ul>
                                  </li>
                              </ul>
                              <button type="button" class="btn btn-primary align-self-start mt-auto" data-bs-toggle="modal" data-bs-target="[data-modal-id='{{ vaga.nome_vaga }} @ {{ vaga.nome_empresa }}']">
                                  Detalhes
                              </button>
                          </div>
                      {% include 'partials/modal-vaga.html' %}
                  </div>
              </div>
              {% endfor %}
              {% endif %}
          </div>
          </section>
        </div>
      </div>
    </div>
  </main>
{% endblock %}