{% extends 'base.html' %}
{% load static %}
{% block title %} Admin{% endblock %}
{% block head %}

<script src="{% static 'node_modules/chart.js/dist/chart.js' %}" defer></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>
<script src="{% static 'js/jquery-3.5.1.js' %}" defer></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}" defer></script>
<script src="{% static 'js/dataTables.bootstrap5.min.js' %}" defer></script>
<script src="{% static 'js/charts.js' %}" defer></script>

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css' %}"/>
<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap5.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/admin.css' %}"/>
{% endblock %}
{% block body_class %}page-dashboard{% endblock %}
{% block content %}

<main class="row">
    {% include 'partials/sidebar/admin.html' %}
    <div class="col-8">
        <table class="table">
            <thead>
                <tr>
                    <h3 class="text-center">Empresas</h3>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td colspan="2">Empresas cadastradas</td>
                    {% if numero_de_emp_inativas < 10 %}
                    <td colspan="2">0{{numero_de_emp}}</td>
                    {% else %}
                    <td colspan="2">{{numero_de_emp}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td colspan="2">Empresas ativas</td>
                    {% if numero_de_emp_ativas < 10 %}
                    <td colspan="2">0{{numero_de_emp_ativas}}</td>
                    {% else %}
                    <td colspan="2">{{numero_de_emp_ativas}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td colspan="2">Empresas inativas</td>
                    {% if numero_de_emp_inativas < 10 %}
                    <td colspan="2">0{{numero_de_emp_inativas}}</td>
                    {% else %}
                    <td colspan="2">{{numero_de_emp_inativas}}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <h3 class="text-center">Vagas</h3>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td colspan="2">Vagas registradas</td>
                    {% if numero_vagas < 10 %}
                    <td colspan="2">0{{numero_vagas}}</td>
                    {% else %}
                    <td colspan="2">{{numero_vagas}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td colspan="2">Vagas ativas</td>
                    {% if numero_vagas_ativas < 10 %}
                    <td colspan="2">0{{numero_vagas_ativas}}</td>
                    {% else %}
                    <td colspan="2">{{numero_vagas_ativas}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td colspan="2">Vagas preenchidas por match</td>
                    {% if numero_vagas_match < 10 %}
                    <td colspan="2">0{{numero_vagas_match}}</td>
                    {% else %}
                    <td colspan="2">{{numero_vagas_match}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td colspan="2">Vagas Encerradas sem match</td>
                    {% if numero_vagas_sem_match < 10 %}
                    <td colspan="2">0{{numero_vagas_sem_match}}</td>
                    {% else %}
                    <td colspan="2">{{numero_vagas_sem_match}}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <h3 class="text-center">Talentos</h3>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td colspan="2">Talentos cadastrados</td>
                    {% if numero_de_can < 10 %}
                    <td colspan="2">0{{numero_de_can}}</td>
                    {% else %}
                    <td colspan="2">{{numero_de_can}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td colspan="2">Talentos ativos</td>
                    {% if numero_de_can_ativos < 10 %}
                    <td colspan="2">0{{ numero_de_can_ativos }}</td>
                    {% else %}
                    <td colspan="2">{{ numero_de_can_ativos }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td colspan="2">Talentos inativos</td>
                    {% if numero_de_can_inativos < 10 %}
                    <td colspan="2">0{{ numero_de_can_inativos }}</td>
                    {% else %}
                    <td colspan="2">{{ numero_de_can_inativos }}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
</main>
{% endblock %}