{% extends 'base.html' %}
{% load static %}
{% block title %}Minhas vagas{% endblock %}
{% block head %}
  <script src="{% static 'js/tabber.js' %}" defer></script>
  <link rel="stylesheet" href="{% static 'css/tabber.css' %}">
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block body_class %}page-dashboard{% endblock %}
{% block content %}
{% include 'partials/_alertas.html' %}
  <main class="container">
    <div class="right-column">
      <section class="content">
        <header class="page-header">
          <h1>Todas as vagas</h1>
          <form method='GET' action="{% url 'buscar' %}" class="filtros">
            <div class="form-group input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
              <input name="buscar" id="txt_pesquisa" placeholder="Pesquisar" type="text" class="form-control">
            </div>
          </form>
        </header>

        <div class="row row-cols-1 row-cols-md-3 g-3 py-2 px-1">
          {% if vagas %}
            {% for vaga in vagas %}
              <div class="col">
                <div class="card h-100 vaga">
                  <img src="{{ vaga.logo_empresa.url }}" class="card-img-top outline ar-2/1 mt-3" alt="">
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title" id="nomevaga">{{ vaga.nome_vaga }}</h5>
                    <ul class="hide-bullets">
                      <li>
                        <ul class="inline-list">
                          <li><i class="bi bi-building" title="Empresa"></i> {{ vaga.nome_empresa }}</li>
                          <li><i class="bi bi-geo-alt" title="Local"></i> {{ vaga.local_empresa }}</li>
                        </ul>
                      </li>
                      <li>
                        <ul class="inline-list">
                          <li><i class="bi bi-file-earmark-text" title="Tipo de contrato"></i> {{ vaga.tipo_contratacao }}</li>
                          <li><i class="bi bi-person-workspace" title="Tipo de trabalho"></i> {{ vaga.tipo_trabalho }} </li>
                        </ul>
                      </li>
                    </ul>
                    <button type="button" class="btn btn-primary align-self-start mt-auto" data-bs-toggle="modal" data-bs-target="[data-modal-id='{{ vaga.nome_vaga }} @ {{ vaga.nome_empresa }}']">
                      Detalhes
                    </button>
                  </div>
                  {% include 'partials/modal-vaga.html' %}
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </section>
    </div>
  </main>
<!-- ##### Pagination ##### -->
  <section class="top-catagory-area section-padding-20-0">
  <div class="container">
      {% if vagas.has_other_pages %}
      <ul class="pagination">
          {% if vagas.has_previous %}
          <li class="page-item">
              <a href="?page={{ vagas.previous_page_number }}" class="page-link">&laquo;</a>
          </li>
          {% else %}
          <li class="page-item disabled">
              <a class="page-link">&laquo;</a>
          </li>
          {% endif %}
          {% for pagina in vagas.paginator.page_range %}
          {% if vagas.number == pagina %}
          <li class="page-item active">
              <a class="page-link">{{ pagina }}</a>
          </li>
          {% else %}
          <li class="page-item">
              <a href="?page={{ pagina }}" class="page-link">{{ pagina }}</a>
          </li>
          {% endif %}
          {% endfor %}
          {% if vagas.has_next %}
          <li class="page-item">
              <a href="?page={{ vagas.next_page_number }}" class="page-link">&raquo;</a>
          </li>
          {% else %}
          <li class="page-item disabled">
              <a class="page-link">&raquo;</a>
          </li>
          {% endif %}
      </ul>
      {% endif %}
  </div>
  </section>
  <script>
    $('input#txt_pesquisa').quicksearch('#nomevaga li');
</script>
{% endblock %}